<section class="section section-shaped pb-5">
  <div class="shape shape-style-1 shape-default">

  </div>
</section>



<div class="container py-md">
  <div class="row row-grid justify-content-between align-items-center">

    <div class="col-md-5 order-md-2" style="margin-top: -42px">
      <div class="d-lg-none">
        <h3 class="header-text-list">Masters In Digital Marketing 75 hours
        </h3>
        <p class="para-text">Start your digital marketing journey with Kallada Academy of Digital Marketing and receive
          9 guaranteed industry-recognized certifications from Google, Microsoft, and Hubspot. Full Refund if you do not
          receive the certifications.
        </p>
      </div>
      <div class="card shadow border-0">
        <div class="card-header pb-20">
          <div class=" text-center  mb-3">
            <h2 class="text-center text-white">What's We Provide?</h2>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5 ">
          <ul class="para-text">

            <li>What Is Digital Marketing?</li>
            <li>Offline Advertising Vs Online </li>
            <li>Various Digital Marketing Channels</li>
            <li>Choosing a niche for your Website</li>
            <li>Hosting Setup</li>
          </ul>

          <br>
          <h5 class="pr-text">Price:₹250/-</h5>
          <a (click)="signup()">
            <span class="btn btn-view mt-4">PURCHASE NOW</span>

          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 order-md-1">
      <div class="d-lg-inline d-none">
        <h3 class="header-text-list">Masters In Digital Marketing 75 hours
        </h3>
        <p class="para-text">Start your digital marketing journey with Kallada Academy of Digital Marketing and receive
          9 guaranteed industry-recognized certifications from Google, Microsoft, and Hubspot. Full Refund if you do not
          receive the certifications.
        </p>
      </div>
      <h2 class="header-text-list">What is This course About?</h2>
      <p class=" para-text">
        Most Affordable Advanced Digital Marketing Course In Bangalore.
        Guaranteed Placements For Eligible Students
        6 Months Placement Assistance
        Guaranteed Paid Internships
        Only 5 Students Permitted In A Batch
      </p>

    </div>
    <!-- <div class="col-md-5 order-md-2">
      <div class="card shadow border-0">
              <div class="card-header pb-20">
                <div class=" text-center  mb-3">
                  <h2 class="text-center text-white">What's We Provide?</h2>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5 ">
                <ul class="pr-text">

                <li>What Is Digital Marketing?</li>
                <li>Offline Advertising Vs Online </li>
                <li>Various Digital Marketing Channels</li>
                <li>Choosing a niche for your Website</li>
                <li>Hosting Setup</li>
                </ul>
                
                <br>
                <h5 class="pr-text">Prize:₹250/-</h5>
                <a>
                    <button mat-raised-button (click)="signup()">PURCHASE NOW</button>

                  </a>
            </div>
          </div>
      </div> -->
  </div>
</div>