.para-text{
    text-align:justify;
    color: #141518;
    font-weight: 500;
    font-size:15px;
    margin-top:0px;
}


.header-text-list{
    font-family: 'Roboto' !important;
    font-weight: 500;
    font-size: 28px;
    color: #225da0;
    
}

.head-card{
    text-align:center;
    font-weight: 600;
    font-size: 26px !important;
   
}
.header-tt-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 24px;
    color: #225da0;
    margin-top: 0px;
    padding-top: 30px;
}
pr-text{
    text-align:justify;

    font-weight: 300;
    font-size:16px;
    margin-top:0px;
}
 
.header-txts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    color: white;
    margin-top: 0px;
}


.positionb{
    position: -webkit-sticky;
    bottom:100px;
    margin-left: 60%;
  
}


.para-tts{
    
    color: #225da0;
    font-weight: 500;
    font-size:20px;
}