

.para-txt{
    text-align:justify;
    color: #7c7f88;
    font-weight: 500;
    font-size:15px;
}


.header-text{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 600;
    font-size: 36px;
    color: #225da0;
}


.header-text-lists{
    text-align:center;
    font-weight: 300;
    font-size: 25px
}


.light-bg{
    color:white;
  }
 
  .header-text-li{
    text-align:center;
    font-weight: 700;
    font-size: 16px;
    color:#000000;
    margin-top: -13px;
}
.line-count{
    text-align:center;
    font-size: 24px;
    font-weight: 900;
    color:#5c607c;
   
}



