<section class="section section-lg  light-bg  py-lg-0 pb-20">
    <div class="container pb-0">
      
     
                     
            <!-- <div class="col-lg-4 pb-25">
                        
                    
                            <div>
    
                                <h1 class="line-count"> 9+</h1>
                                <h1 class="header-text-li"> Trusted By</h1>
                               
                        
                            </div>
                    
                    <hr>
                    
                            <div> 
    
                                <h1 class="line-count"> 300+</h1>
                                <h1 class="header-text-li"> Trusted By</h1>
    
                            </div>
    
                       <hr>
                            <div>
    
                                <h1 class="line-count"> 1000+</h1>
                                <h1 class="header-text-li"> Trusted By</h1>
                            </div>
                        
            
     
            </div> -->
            <div class="row">
                    
         <div class="col-lg-12 ">
          
              <div class="text-center d-lg-inline d-none ">
               <h2 class="header-text " style="margin-top: 50px">Way We Work</h2>
                  <p class=" para-txt">
                      We have more than a decade of experience in training stock market traders/investors. All our training contents are carefully developed after profound research, which will help the learners understand the concepts of trading very easily and quickly.
                      Our training includes Live online Training with experienced instructors, Relationship Manager assistance & Life time support.We have more than a decade of experience in training stock market traders/investors. All our training contents are carefully developed after profound research, which will help the learners understand the concepts of trading very easily and quickly.
  
                      Our training includes Live online Training with experienced instructors, Relationship Manager assistance & Life time support.
                  </p>
  
                 <br>
                <div class="btn-wrapper">
           
                   <span class="btn btn-view mt-4" [routerLink]="['/About-us']">See more</span>
                </div>
           
          
  
       
              </div>
        
         
         </div>
        
         <div class="col-lg-12 ">
          
                <div class="text-center d-lg-none">
                 <h2 class="header-text " style="margin-top: -16px;">Way We Work</h2>
                    <p class=" para-txt">
                        We have more than a decade of experience in training stock market traders/investors. All our training contents are carefully developed after profound research, which will help the learners understand the concepts of trading very easily and quickly.
                        Our training includes Live online Training with experienced instructors, Relationship Manager assistance & Life time support.We have more than a decade of experience in training stock market traders/investors. All our training contents are carefully developed after profound research, which will help the learners understand the concepts of trading very easily and quickly.
    
                        Our training includes Live online Training with experienced instructors, Relationship Manager assistance & Life time support.
                    </p>
    
                   <br>
                  <div class="btn-wrapper">
             
                     <span class="btn btn-view mt-4" [routerLink]="['/About-us']">See more</span>
                  </div>
             
            
    
         
                </div>
          
           </div>
           
      </div>
    </div>
  
   
  </section>
  