<section class="section section-shaped " style="    padding-top: 18px;">
  <div class="shape shape-style-1 shape-default">

  </div>
</section>


<section class="section section-lgg   section-card-shaped pb-20">
  <div class="shape shape-style-1 ">

  </div>


  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/brand/about-pic-1.png" class="img-fluid floating">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">

          <h3 class="header-txt-list">Who We are</h3>
          <p class="para-txt">Lurecap Academy welcomes you to our share market trading training classes. We have best
            trainers who are highly qualified and experienced and have relevant industry exposure in their fields of
            expertise, capable of solving all your practical queries. Our depository of knowledge in equity markets,
            which obviously help the clients in making wise trading decisions at the right time.It is important for
            every individual to understand the various types of financial products to create a financial portfolio. Each
            financial product has its own risk and rewards. The reforms happening in the Indian Financial Market has
            brought various types of financial instruments for the end users, starting from simple Fixed Deposit to
            Futures & Options trading.</p>

        </div>
      </div>
    </div>
  </div>



</section>


<section class="section section-lgg section-card-shaped over-lay-blue  pb-20">
  <div class="shape shape-style-1 light-bg ">

  </div>


  <div class="container">
    <div class="row row-grid align-items-center">

      <div class="col-md-6 order-md-1">
        <img src="./assets/img/brand/about-pic-2.png" class="img-fluid floating">
      </div>


      <div class="col-md-6 order-md-2">
        <div class="pr-md-5">


          <h1 class="header-text-list">Our Vision</h1>
          <div class="row">
            <div class="col">

              <p class="para-texts">We have to equip traders and investors with knowledge to earn money from share
                market. Simplify Stock Market, Commodity Market, and Currency Education so as to reach every citizen.
                And we make our clients to become an independent and confident stock trader.</p>
            </div>
          </div>
          <h1 class="header-text-list">Our Mission
          </h1>
          <div class="row">
            <div class="col">
              <p class="para-texts">Our Mission is to make market participants aware about the best possibilities of
                long term wealth creation through successful stock trading and right investment practices. To provide an
                opportunity for traders and investors to earn money from share market even without any investment by
                working professionally part or full time to enhance their financial capacity and become a leading force
                in Education industry and bring happiness to our clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>


<app-partners></app-partners>