

.para-txt{
    text-align:justify;
    font-weight: 500;
    font-size:15px;
    color: #7c7f88;  
}

.para-texts{
    text-align:justify;
    font-weight: 500;
    font-size:15px;
    color: #ece7e7;  
}

.header-text-list{
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #1b2b91;   
}


.header-text-lt{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 22px; 
    color: #225da0;
}
.header-texts{
    text-align:center;
    font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}

.header-txt-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 36px; 
    color: #225da0;
}

.header-text-lists{
    text-align:left;
    font-weight: 500;
    font-size: 25px;
    color: #1b2b91;
}
 
.head-text{
    text-align:left;
    font-weight: 900;
    font-size: 16px;
    color: #f1f1f1;
}

.head-txt{
    text-align:center;
    font-weight: 900;
    font-size: 26px;
    color: #1b2b91;
}

.bck-img{
    background-image: url('/assets/img/back/stock.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.over-lay-blue {
    background:rgba(8, 8, 8, 0.73);
}

.header-text-lst{
    text-align:center;
    padding:100px 0 50px 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff
}


.header-texts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
    padding-top: 0px;
}

.header-texts-p{
    font-family: 'Roboto' !important;
    text-align:center;
    // font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}