
<!-- 
    <section class="section  section-card-shaped over-lay-blue pb-10">
        <div class="shape shape-style-1 bck-img ">
         </div>   
               
        <h2 class="header-text-lst ">ABOUT US</h2>
                
           
  </section> -->

  <section class="section section-shaped pb-5">
    <div class="shape shape-style-1 shape-default">
            
    </div>
  </section>
  
   
    <section class="section section-lg  light-bg  section-card-shaped pb-20">
        <div class="shape shape-style-1 ">
                 
        </div>

         
    <div class="container">
            <div class="row row-grid align-items-center">
              <div class="col-md-6 order-md-2">
                <img src="./assets/img/ill/home-01.png" class="img-fluid floating">
              </div>
              <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                  
                  <h3 class="header-txt-list">Who We are</h3>
                  <p class="para-txt">Lurecap welcomes you to our share market trading training classes. We have best trainers who are highly qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving all your practical queries. Our depository of knowledge in equity markets, which obviously help the clients in making wise trading decisions at the right time.It is important for every individual to understand the various types of financial products to create a financial portfolio. Each financial product has its own risk and rewards. The reforms happening in the Indian Financial Market has brought various types of financial instruments for the end users, starting from simple Fixed Deposit to Futures & Options trading.</p>
                  
                </div>
              </div>
            </div>
          </div>



    </section>


    <section class="section  section-card-shaped pb-20">
        <div class="shape shape-style-1 shape-default ">

        </div>

                  
      <div class="container">
            <div class="row row-grid align-items-center">
             
               <div class="col-md-6 order-md-1">
                            <img src="./assets/img/ill/home-01.png" class="img-fluid floating">
               </div>
              
              
                <div class="col-md-6 order-md-2">
                    <div class="pr-md-5">
                        <h3 class="header-text">Our Values</h3>

                        <h1 class="header-text-lists">Our Vision
                          
                            </h1>
                        <div class="row">
                          <div class="col">
                           
                            <p class="para-text">We have to equip traders and investors with knowledge to earn money from share market. Simplify Stock Market, Commodity Market, and Currency Education so as to reach every citizen. And we make our clients to become an independent and confident stock trader.</p>
                          </div>
                        </div>
                      
                  
                  
                          <h1 class="header-text-lists">Our Mission
                            
                            </h1>
                        <div class="row">
                          <div class="col">
                           
                            <p class="para-text">Our Mission is to make market participants aware about the best possibilities of long term wealth creation through successful stock trading and right investment practices. To provide an opportunity for traders and investors to earn money from share market even without any investment by working professionally part or full time to enhance their financial capacity and become a leading force in Education industry and bring happiness to our clients.</p>
                          </div>
                        </div>
                  
                    </div>
                </div>
              

            </div>
      </div>

              
                
    </section>




 
    <section class="section section-lgs section-card-shaped pb-20">
      <div class="shape shape-style-1 ">
      </div>
      <div class="container ">
        <div class="row">
            <div class="col-lg-6 footer-img">
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/images.png"></a>
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
              </div>
            <div class="col-lg-6 footer-img">
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/images.png"></a>
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/image3.png"></a>
            </div>
      
        </div>
      </div>
  </section>