

<section class="section section-shaped " style="    padding-top: 18px;">
    <div class="shape shape-style-1 shape-default">
            
    </div>
</section>
  
   
    <section class="section section-lgg   section-card-shaped pb-20">
        <div class="shape shape-style-1 ">
                 
        </div>

         
      <div class="container">
            <div class="row row-grid align-items-center">
              <div class="col-md-6 order-md-2">
                <img src="./assets/img/brand/about-pic-1.webp" class="img-fluid floating">
              </div>
              <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                  
                  <h3 class="header-txt-list">Who We are</h3>
                  <p class="para-txt">Lurecap Academy welcomes you to our share market trading training classes. We have best trainers who are highly qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving all your practical queries. Our depository of knowledge in equity markets, which obviously help the clients in making wise trading decisions at the right time.It is important for every individual to understand the various types of financial products to create a financial portfolio. Each financial product has its own risk and rewards. The reforms happening in the Indian Financial Market has brought various types of financial instruments for the end users, starting from simple Fixed Deposit to Futures & Options trading.</p>
                  
                </div>
              </div>
            </div>
          </div>

         

    </section>


  <section class="section section-lgg section-card-shaped over-lay-blue  pb-20">
        <div class="shape shape-style-1 light-bg ">

         </div>

                  
       <div class="container">
            <div class="row row-grid align-items-center">
             
               <div class="col-md-6 order-md-1">
                            <img src="./assets/img/brand/about-pic-2.webp" class="img-fluid floating">
               </div>
              
              
                <div class="col-md-6 order-md-2">
                    <div class="pr-md-5">
                        

                        <h1 class="header-text-list">Our Vision
                          
                            </h1>
                        <div class="row">
                          <div class="col">
                           
                            <p class="para-texts">We have to equip traders and investors with knowledge to earn money from share market. Simplify Stock Market, Commodity Market, and Currency Education so as to reach every citizen. And we make our clients to become an independent and confident stock trader.</p>
                          </div>
                        </div>
                      
                  
                  
                          <h1 class="header-text-list">Our Mission
                            
                            </h1>
                        <div class="row">
                          <div class="col">
                           
                            <p class="para-texts">Our Mission is to make market participants aware about the best possibilities of long term wealth creation through successful stock trading and right investment practices. To provide an opportunity for traders and investors to earn money from share market even without any investment by working professionally part or full time to enhance their financial capacity and become a leading force in Education industry and bring happiness to our clients.</p>
                          </div>
                        </div>
                  
                    </div>
                </div>
              

            </div>
      </div>

              
                
  </section>




 
  <section class="section section-lgs section-card-shaped ">
      <div class="shape shape-style-1 ">
      </div>
      <div class="container pb-12 card-colrs">
        
        <div class="row ">
          
            <hr>
          
            <div class="col-lg-12" style="margin-top: 13px">
              <h1 class="header-texts" >Our Partners </h1>
              <p class="header-texts-p">We are with India's biggest stack market brokers</p>
            </div>
        </div>
                       
        <div class="row " style="padding-bottom: 10px">      
            <div class="col-lg-6 footer-img d-lg-inline d-none">
              <a href="https://zerodha.com/open-account?c=ZMPRJL"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/Blank-cover.png"></a>
              <a  href="http://tinyurl.com/ybnb2te6"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
              </div>
            <div class="col-lg-6 footer-img d-lg-inline d-none">
              <a  href="#"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
              <a  href="#"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
            </div>
            
        </div>
          <div class="row d-lg-none">      
            <div class="col-md-xs-12 footer-img" style="padding-left: 22px">
              <a href="https://zerodha.com/open-account?c=ZMPRJL"><img class="col-md-xs-6  " src="./assets/img/brand/Blank-cover.png"></a>
              <a  href="http://tinyurl.com/ybnb2te6"><img class="col-md-xs-6 " src="./assets/img/brand/image3.png"></a>
              </div>
            <div class="col-md-xs-12 footer-img" style="padding-left: 56px">
              <a  href="#"><img class="col-md-xs-6 " src="./assets/img/brand/icici.png"></a>
              <a  href="#"><img class="col-md-xs-6 " src="./assets/img/brand/upstox.png"></a>
            </div>
            
        </div>
      </div>
      
  
  
  
  
  
  </section>


