

  <section class="section section-shaped pb-5">
    <div class="shape shape-style-1 shape-default">
            
    </div>
  </section>

    



  <section class="section section-lgg pb-5 ">
  
    <div class="container">
        <div class="row row-grid align-items-center">
            
         


             <div class="col-md-5 order-md-2" style="padding-top:52px">
                    <div class="card shadow border-0" >
                            <div class="card-header bg-greenish" >
                              <div class=" text-center  mb-3">
                                <h2 class="text-center text-blues">Keep in touch?</h2>
                              </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5 ">
                              <form role="form" class="pb-0">
                                <div class="form-group">
                                    <div class="input-group ">
                                      <!-- <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                      </div> -->
                                      <input class="form-control" placeholder="Name" >
                                    </div>
                                </div>
                                
                                <div class="form-group mb-3" >
                                  <div class="input-group ">
                                    <!-- <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div> -->
                                    <input class="form-control" placeholder="Email" type="email" >
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    <!-- <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                                    </div> -->
                                    <input class="form-control" placeholder="Phone Number">
                                  </div>
                                </div>
                            
                                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                                    
                                    <div class="form-group">
                                       
                                            <input type="checkbox">
                                            <label style="margin-left: 4px">Refund</label>
                                         
                                      </div>
                                    <div class="row pb-0">
                                        <div class="col-md-0 mr-auto ml-auto">
                                            <button class="btn btn-lavender btn-lg btn-fill btn-hover">Send Message</button>
                                        </div>
                                    </div>
                              </form>
                            </div>
                        </div>

              </div>
              
          <div class="col-md-7 order-md-1 ">
              <div class="pr-md-5 adjustview" >
                          
                          <h3 class="header-text">Queries</h3>
                          <p class="para-txt">A Collaborative environment where we can all learn and grow together.A Collaborative environment where we can all learn and grow together.A Collaborative environment where we can all learn and grow togetherA Collaborative environment where we can all learn and grow together.</p>
                     <ul class="list-unstyled mt-5">
                            <li class="py-2">
                              <div class="d-flex align-items-center">
                               
                                <div>
                                  <h6 class="mb-0 header-text-lists">info@lurecap.com</h6>
                                </div>
                              </div>
                            </li>
                            <li class="py-2">
                              <div class="d-flex align-items-center">
                               
                                <div>
                                  <h6 class="mb-0 header-text-lists">+91-9487427429</h6>
                                </div>
                              </div>
                            </li>
                            
                      </ul>
              </div>
          </div>
              
      </div>
    </div>

  </section>  
  
  <section class="section section-lgs section-card-shaped ">
      <div class="shape shape-style-1 ">
      </div>
      <div class="container pb-12">
        
        <div class="row ">
          
            <hr>
          
            <div class="col-lg-12">
              <h1 class="header-texts" >Partner With </h1>
            </div>
        </div>
                       
        <div class="row">      
            <div class="col-lg-6 footer-img">
              <a href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/images.png"></a>
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
              </div>
            <div class="col-lg-6 footer-img">
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
              <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
            </div>
            
        </div>
      </div>
      
  </section>