 <section class="section section-shaped " style="    padding-top: 18px;">
    <div class="shape shape-style-1 shape-default">
            
    </div>
</section>
<section class="section section-lgg pb-5 ">
     <div class="container">
        <div class="row row-grid align-items-center">
            
         


             <div class="col-md-5 order-md-2" style="padding-top:52px">
                    <div class="card shadow border-0" >
                            <div class="card-header bg-greenish" >
                              <div class=" text-center  mb-3">
                                <h2 class="text-center text-blues header-txt" style="margin-bottom: -14px;">Connect With Us</h2>
                              </div>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5 ">
                              <form role="form" class="pb-0">
                                <div class="form-group">
                                    <div class="input-group ">
                                     
                                      <input class="form-control" placeholder="Name" name="name" required
                                      minlength="4" [(ngModel)]="queries.name"  #name="ngModel">
                                    </div>
                                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="c-text-danger">
                                        <p *ngIf="name.errors.required">
                                          *Name is required.
                                        </p>
                                        <p *ngIf="name.errors.minlength">
                                          *Name must be at least 4 characters long.
                                        </p>
                                      </div>
                                        
                                      
                                      
                                </div>
                                
                                <div class="form-group mb-3" >
                                  <div class="input-group ">
                                   
                                    <input class="form-control" placeholder="Email" type="email" name="email"  required [pattern]="emailPattern" [(ngModel)]="queries.email"  #email="ngModel"></div>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="c-text-danger">
                                      <p *ngIf="email.errors.required">
                                        *Email is required.
                                      </p>
                                      <p *ngIf="email.errors.pattern">
                                       *Type correct email Id
                                      </p>
                                    </div>  
                                  
                                </div>
                                <div class="form-group">
                                  <div class="input-group">
                                    
                                    <input class="form-control" placeholder="Phone Number" name="phoneNumber"  required [pattern]="phoneNumberPattern" [(ngModel)]="queries.phoneNumber" #phoneNumber="ngModel"> </div>
                                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="c-text-danger">
                                      <p *ngIf="phoneNumber.errors.required">
                                        *PhoneNumberis required.
                                      </p>
                                      <p *ngIf="phoneNumber.errors.pattern">
                                       *Type correct PhoneNumber
                                      </p>
                                     
                                  </div>
                                </div>
                            
                                    <textarea class="form-control" rows="4" placeholder="Tell us your queries"></textarea>
                                    <br>
                                    <div class="row pb-0">
                                        <div class="col-md-0 mr-auto ml-auto">
                                            <button class="btn btn-lavender btn-lg btn-fill btn-hover" (click)="onSubmitButtonClicked()">Send Message</button>
                                        </div>
                                    </div>
                              </form>
                            </div>
                        </div>

              </div>
              
          <div class="col-md-7 order-md-1 ">
              <div class="pr-md-5 adjustview" >
                          
                          <h3 class="header-text">Queries</h3>
                          <p class="para-txt">You stepped into the right direction; lurecap Academy will help you to create your successful stock market trading journey. We have a dedicated training cell with all facilities to deliver successful training programs.</p>
                          <p class="para-txt">Thanks for choosing us our executive will contact you soon</p>
                     <ul class="list-unstyled mt-5">
                            <li class="py-2">
                              <div class="d-flex align-items-center">
                               
                                <div>
                                  <h6 class="mb-0 para-txt">academy@lurecap.com</h6>
                                </div>
                              </div>
                            </li>
                            <li class="py-2">
                              <div class="d-flex align-items-center">
                               
                                <div>
                                  <h6 class="mb-0 para-txt">+91-9487427429</h6>
                                </div>
                              </div>
                            </li>
                            
                      </ul>
              </div>
          </div>
              
      </div>
    </div>

  </section>  
  
   
<section class="section section-lgs section-card-shaped ">
    <div class="shape shape-style-1 ">
    </div>
    <div class="container pb-12 card-colrs">
      
      <div class="row ">
        
          <hr>
        
          <div class="col-lg-12" style="margin-top: 13px">
            <h1 class="header-texts" >Our Partners </h1>
            <p class="header-texts-p">We are with India's biggest stack market brokers</p>
          </div>
      </div>
                     
      <div class="row "  style="padding-bottom: 10px">      
          <div class="col-lg-6 footer-img d-lg-inline d-none">
            <a href="https://zerodha.com/open-account?c=ZMPRJL"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/Blank-cover.png"></a>
            <a  href="http://tinyurl.com/ybnb2te6"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
            </div>
          <div class="col-lg-6 footer-img d-lg-inline d-none">
            <a  href="#"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
            <a  href="#"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
          </div>
          
      </div>
        <div class="row d-lg-none">      
          <div class="col-lg-6 footer-img" style="padding-left: 22px">
            <a href="https://zerodha.com/open-account?c=ZMPRJL"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/Blank-cover.png"></a>
            <a  href="http://tinyurl.com/ybnb2te6"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
            </div>
          <div class="col-lg-6 footer-img" style="padding-left: 56px">
            <a  href="#"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
            <a  href="#"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
          </div>
          
      </div>
    </div>
    





</section>