.header-text-list
{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 20px;
    color: #225da0;
}


.para-txts{
    text-align:justify;

    font-weight: 400;
    font-size:14px;
}