
  <section class="section section-shaped pb-5">
    <div class="shape shape-style-1 shape-default">
            
    </div>
  </section>
         

    <section class="section-lgs section-card-shaped pb-5">
        <div class="shape shape-style-1 ">
          </div>
      <div class="container ">
        <div class="row" >
                  <div class="col-lg-4 "  >
                        
                 <img src="./assets/img/brand/img22.png" class="img-fluid floating">
                     <!-- <div class="text-center">

                                <h1 class="line-count text-center"> 9+</h1>
                               <h1 class="header-text-li"> Total Learners</h1>
                 
          
                      </div> -->
      
                           
                  </div> 
        
              
                <div class="col-lg-8   d-lg-inline d-none "  style="padding-top: 110px"  >
                  <h2 class="header-text">We Teach The Complete Formula</h2>
                  <p class="para-text">What work for one trader,might not work for another.This creates clueless traders who constantly experience negative outcomes in the market.
                      To succeed in the stock market you need to learn the "Complete Formula"-consisting of five interconnected ingredients to build you up.</p>
                </div>

                <div class="col-lg-7 d-lg-none  ">
                  <h2 class="header-text">We Teach The Complete Formula</h2>
                  <p class="para-text">What work for one trader,might not work for another.This creates clueless traders who constantly experience negative outcomes in the market.
                      To succeed in the stock market you need to learn the "Complete Formula"-consisting of five interconnected ingredients to build you up.</p>
                </div>
      </div>
              
      </div>
           <div class="container pb-12">
              <div class="row row-grid mt-5">
                <div class="col-lg-4">
                  <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                  </div>
                  <h5 class="header-text-list">Learn Anytime,Anywhere!</h5>
                  <p class="para-text">We provide you with several different traning formats so you can learn the way that best suits you including an online course,pdf,communities and live sessions.</p>
                </div>
                <div class="col-lg-4">
                  <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
                      <i class="fa fa-leanpub" aria-hidden="true"></i>
                  </div>
                  <h5 class="header-text-list">Online E-Learning Platform</h5>
                  <p class="para-text">Watch traning videos,listen to recordings or read the PDFs.Access the training online from any desktop or mobile device,anywhere in the world!.</p>
                </div>
                <div class="col-lg-4">
                  <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
                      <i class="fa fa-meetup" aria-hidden="true"></i>
                  </div>
                  <h5 class="header-text-list">Expert mentorships on demand!</h5>
                  <p class="para-text">Get personalized mentorship from experts who can troubleshoot your problems and provide direction.</p>
                </div>
              </div>
            </div>
    </section>



<section class="section section-lgs section-card-shaped pb-20">
  <div class="shape shape-style-1 shape-default">
  </div>
<div class="container">
    <div class="row row-grid justify-content-between align-items-center ">
        <div class="col-lg-12">
            <div class="col px-0">
                <h1 class="header-text">LIST OF COURSES
                  
                  </h1>
              
                 
                  
                
              
            </div>
        </div>
          
    </div>
</div>



<div class="container pb-15 ">
    
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-3">
                
                <h4 class="header-textss">Stock Market Entire Course in Tamil</h4>
                <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                <div>
                    <span class="badge badge-pill badge-success">100+ users</span>
                    <span class="badge badge-pill badge-success">Tamil</span>
                </div>
                <div class="container">
                    <div class="row">
                          <div class="col-lg-6" style="margin-top: 13px;">
                                  <a>
                                    <span class="header-text">₹990</span>
                                  </a>
                           </div>
                          <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                                   <a  [routerLink]="['/course-details']">
                                     <span class="btn btn-view mt-4">Buy Now</span>
                                   </a>
                          </div>
                          <div class="col-lg-6 d-lg-none">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Buy Now</span>
                            </a>
                          </div>
                    </div>
                  </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-3">
                
                <h4 class="header-textss">Commodity Market Entire Course In Tamil</h4>
                <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                <div>
                    <span class="badge badge-pill badge-success">100+ users</span>
                    <span class="badge badge-pill badge-success ">Tamil</span>
                </div>
                <div class="container">
                    <div class="row">
                          <div class="col-lg-6" style="margin-top: 13px;">
                                  <a>
                                    <span class="header-text">₹990</span>
                                  </a>
                           </div>
                          <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                              <a  [routerLink]="['/course-details']">
                                <span class="btn btn-view mt-4">Comming Soon!</span>
                              </a>
                          </div>
                          <div class="col-lg-6 d-lg-none">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Comming Soon!</span>
                            </a>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-3">
               
                <h4 class="header-textss">Forex Market Entire Course In Tamil</h4>
                <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                <div>
                    <span class="badge badge-pill badge-success">100+ users</span>
                    <span class="badge badge-pill badge-success ">Tamil</span>
                </div>
                <div class="container">
                    <div class="row">
                          <div class="col-lg-6" style="margin-top: 13px;">
                                  <a>
                                    <span class="header-text">₹990</span>
                                  </a>
                           </div>
                           <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Comming Soon!</span>
                            </a>
                        </div>
                        <div class="col-lg-6 d-lg-none">
                          <a  [routerLink]="['/course-details']">
                            <span class="btn btn-view mt-4">Comming Soon!</span>
                          </a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4 d-lg-none" style="padding-top: 40px">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-3">
                     
                      <h6 class="header-textss">COURSE 4</h6>
                      <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                      <div>
                          <span class="badge badge-pill badge-success">100+ users</span>
                          <span class="badge badge-pill badge-success ">Tamil</span>
                      </div>
                     
                      <div class="container">
                          <div class="row">
                                <div class="col-lg-6" style="margin-top: 13px;">
                                        <a>
                                          <span class="header-text">₹990</span>
                                        </a>
                                 </div>
                                 <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                                  <a  [routerLink]="['/course-details']">
                                    <span class="btn btn-view mt-4">Comming Soon!</span>
                                  </a>
                              </div>
                              <div class="col-lg-6 d-lg-none">
                                <a  [routerLink]="['/course-details']">
                                  <span class="btn btn-view mt-4">Comming Soon!</span>
                                </a>
                            </div>
                          </div>
                        </div>
                      
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 d-lg-inline d-none">
                     <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-3">
                 
                  <h6 class="header-textss">COURSE 4</h6>
                  <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                  <div>
                      <span class="badge badge-pill badge-success">100+ users</span>
                      <span class="badge badge-pill badge-success ">Tamil</span>
                  </div>
                 
                  <div class="container">
                      <div class="row">
                            <div class="col-lg-6" style="margin-top: 13px;">
                                    <a>
                                      <span class="header-text">₹990</span>
                                    </a>
                             </div>
                             <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                              <a  [routerLink]="['/course-details']">
                                <span class="btn btn-view mt-4">Comming Soon!</span>
                              </a>
                          </div>
                          <div class="col-lg-6 d-lg-none">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Comming Soon!</span>
                            </a>
                        </div>
                      </div>
                    </div>
                  
                </div>
                     </div>
            </div>
            
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-3">
                  
                  <h6 class="header-textss">COURSE 5</h6>
                  <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                  <div>
                      <span class="badge badge-pill badge-success">100+ users</span>
                      <span class="badge badge-pill badge-success ">Tamil</span>
                  </div>
                  <div class="container">
                      <div class="row">
                            <div class="col-lg-6" style="margin-top: 13px;">
                                    <a>
                                      <span class="header-text">₹990</span>
                                    </a>
                             </div>
                             <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                              <a  [routerLink]="['/course-details']">
                                <span class="btn btn-view mt-4">Comming Soon!</span>
                              </a>
                          </div>
                          <div class="col-lg-6 d-lg-none">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Comming Soon!</span>
                            </a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-3">
                 
                  <h6 class="header-textss">COURSE 6</h6>
                  <p class="description mt-3 para-txt">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
                  <div>
                      <span class="badge badge-pill badge-success">100+ users</span>
                      <span class="badge badge-pill badge-success ">Tamil</span>
                  </div>
                  <div class="container">
                      <div class="row">
                            <div class="col-lg-6" style="margin-top: 13px;">
                                    <a>
                                      <span class="header-text">₹990</span>
                                    </a>
                             </div>
                             <div class="col-lg-6 d-lg-inline d-none" style="margin-left: -30px">
                              <a  [routerLink]="['/course-details']">
                                <span class="btn btn-view mt-4">Comming Soon!</span>
                              </a>
                          </div>
                          <div class="col-lg-6 d-lg-none">
                            <a  [routerLink]="['/course-details']">
                              <span class="btn btn-view mt-4">Comming Soon!</span>
                            </a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</section>


  
<section class="section section-lgs section-card-shaped ">
    <div class="shape shape-style-1 ">
    </div>
    <div class="container pb-12">
      
      <div class="row ">
        
          <hr>
        
          <div class="col-lg-12">
              <h1 class="header-texts" >Our Partners </h1>
              <p class="header-texts-p">We are with India's biggest stack market brokers</p>
            </div>
      </div>
                     
      <div class="row ">      
        <div class="col-lg-6 footer-img d-lg-inline d-none">
          <a href="https://zerodha.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/Blank-cover.png"></a>
          <a  href="https://www.angelbroking.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
          </div>
        <div class="col-lg-6 footer-img d-lg-inline d-none">
          <a  href="#"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
          <a  href="#"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
        </div>
        
    </div>
      <div class="row d-lg-none">      
        <div class="col-lg-6 footer-img" style="padding-left: 22px">
          <a href="https://zerodha.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/Blank-cover.png"></a>
          <a  href="https://www.angelbroking.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
          </div>
        <div class="col-lg-6 footer-img" style="padding-left: 56px">
          <a  href="#"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
          <a  href="#"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
        </div>
        
    </div>
    </div>
    
</section>