<section class="section section-shaped " style="    padding-top: 18px;">
  <div class="shape shape-style-1 shape-default">

  </div>
</section>


<section class="section-lgs section-card-shaped pb-5">
  <div class="shape shape-style-1 ">
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-lg-4 ">

        <img src="./assets/img/brand/img22_Mesa-de-trabajo-1.png" class="img-fluid floating">



      </div>


      <div class="col-lg-8   d-lg-inline d-none " style="padding-top: 110px">
        <h2 class="header-text">We Teach The Complete Formula</h2>
        <p class="para-text">What work for one trader,might not work for another.This creates clueless traders who
          constantly experience negative
          outcomes in the market. To succeed in the stock market you need to learn the "Complete Formula"-consisting of
          five
          interconnected ingredients to build you up.</p>
      </div>

      <div class="col-lg-7 d-lg-none  ">
        <h2 class="header-text">We Teach The Complete Formula</h2>
        <p class="para-text">What work for one trader,might not work for another.This creates clueless traders who
          constantly experience negative
          outcomes in the market. To succeed in the stock market you need to learn the "Complete Formula"-consisting of
          five
          interconnected ingredients to build you up.</p>
      </div>
    </div>

  </div>
  <div class="container pb-12">
    <div class="row row-grid mt-5">
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-list" style="padding-top: 10px;">Learn Anytime,Anywhere!</h5>
        <p class="para-text">We provide you with several different traning formats so you can learn the way that best
          suits you including an online
          course,pdf,communities and live sessions.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
          <i class="fa fa-leanpub" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-list" style="padding-top: 10px;">Online E-Learning Platform</h5>
        <p class="para-text">Watch traning videos,listen to recordings or read the PDFs.Access the training online from
          any desktop or mobile
          device,anywhere in the world!.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
          <i class="fa fa-meetup" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-list" style="padding-top: 10px;">Expert mentorships on demand!</h5>
        <p class="para-text">Get personalized mentorship from experts who can troubleshoot your problems and provide
          direction.
        </p>
      </div>
    </div>
  </div>
</section>



<section class="section section-lgs section-card-shaped overlay pb-20">
  <div class="shape shape-style-1 bck-img">
  </div>
  <div class="container">
    <div class="row row-grid justify-content-between align-items-center ">
      <div class="col-lg-12">
        <div class="col px-0">
          <h1 class="header-text">LIST OF COURSES

          </h1>


        </div>
      </div>

    </div>
  </div>


  <div class="container pb-15 ">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4 pb-10" *ngFor="let course of allCourse">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body  py-3">
                <h6 class="header-textss">{{course.courseName}}</h6>
                <p class="description mt-3 para-txt" [innerHTML]="course.shortDesc"></p>
                <div class="course-pill">
                  <span class="badge badge-pill badge-success">{{count}}+ users</span>
                  <span class="badge badge-pill badge-success">{{courseLanguage}}</span>

                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 course-amount">
                      <a>
                        <div *ngIf="course.dicountAmount!=0">
                          <span class="para-tts" >
                            <del style="margin-left:-22px;">₹{{course.courseAmount}}</del> 
                          </span>
                          <span class="para-tts">
                            <ins style="padding-left:12px">₹{{course.dicountAmount}}</ins>
                           </span>
                          </div>
                          <div *ngIf="course.dicountAmount==0">
                            <span class="para-tts" >
                              <ins style="margin-left:-22px;">₹{{course.courseAmount}}</ins> 
                            </span>
                          </div>
                      </a>
                    </div>
                    <div class="col-lg-6 course-buynow">
                      <a (click)="goToDetails(course)">
                        <span class="btn btn-view mt-4 ">Buy Now</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-partners></app-partners>