
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    border: 0 solid rgba(0, 0, 0, .2);
    border-radius: .4375rem;
    outline: 0;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .17)
}


.modal-header {
    display: flex;
    padding: 1.25rem;
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: .4375rem;
    border-top-right-radius: .4375rem;
    align-items: flex-start;
    justify-content: space-between
}


.modal-title {
    line-height: 1.1;
    margin-bottom: 0
}


.modal-body {
    position: relative;
    padding: 1.5rem;
    flex: 1 1 auto
}


.modal-footer {
    display: flex;
    padding: 1.5rem;
    border-top: 0 solid #e9ecef;
    align-items: center;
    justify-content: flex-end
}

 
.head-text{
    text-align:center;
    font-weight: 900;
    font-size: 26px;
    color: #1b2b91;
}

.para-text{
    text-align:justify;

    font-weight: 300;
    font-size:14px
}


.header-text-list{
    text-align:left;
    font-weight: 500;
    font-size: 20px;
    color: #1b2b91
}

.header-text{
    text-align:center;
    font-weight: 700;
    font-size: 36px;
    color: #1b2b91
}

.header-txt-list{
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #1b2b91
}

.head-txt{
   
    color: #1b2b91;
}
.text-primarys{
    background-color: #3e50b4;
}


.bck-img{
    background-image: url('/assets/img/back/stock.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.over-lay-blue {
    background:rgba(8, 8, 8, 0.73);
}

.header-text-lst{
    text-align:center;
    padding:100px 0 50px 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff
}


.header-text-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 22px; 
    color: #225da0;
}

.header-text{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 36px; 
    color: #225da0;
}
