<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/loogo-01.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/loogo-01.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-color">
          <a class="nav-link nav-link-icon" [routerLink]="['/home']">
            <!-- <i class="fa fa-facebook-square"></i> -->
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-color">
          <a class="nav-link nav-link-icon" [routerLink]="['/About-us']">
            <!-- <i class="fa fa-instagram"></i> -->
            <span class="nav-link-inner--text ">About Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/Course']">
            <!-- <i class="fa fa-twitter-square"></i> -->
            <span class="nav-link-inner--text ">Course</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/Community']">
            <!-- <i class="fa fa-github"></i> -->
            <span class="nav-link-inner--text ">Community</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/Queries']">
            <span class="nav-link-inner--text ">Queries</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="showLogin">
          <a href="https://portal.lurecapacademy.com" target="_blank" class="btn btn-icon nav-link  login-nav ">
            <span class="btn-inner--icon d-lg-inline d-none ">
              <i class="fa fa-sign-in" ></i>
            </span>
            <span class="nav-link-inner--text btn-color d-lg-none " style="float: left;">LOGIN</span>
            <span class="nav-link-inner--text d-lg-inline d-none " style="float: left;">LOGIN</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>