
  <section class="section section-shaped pb-5">
    <div class="shape shape-style-1 shape-primary">
            
    </div>
  </section>
  
   
    <section class="section section-lg  light-bg  section-card-shaped pb-20">
        <div class="shape shape-style-1 ">
                 
        </div>

         
          <div class="container">
                 
            <div class="row row-grid align-items-center " >
                <div class="col-md-8 order-md-1 d-lg-inline d-none" >
                    <img src="./assets/img/brand/img888-01.png" class="img-fluid floating">
              </div>
              
            <div class="col-md-4 order-md-2  d-lg-inline d-none">
                 <div class="card shadow border-0">
                    <div class="card-header bg-greenish">
                       <div class=" text-center  mb-3">
                         <h2 class="text-center text-blues">REGISTER HERE</h2>
                       </div>
                    </div>
                  <div class="card-body px-lg-4 py-lg-4 ">
              <form role="form">
      <div class="form-group" >
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" placeholder="Username" required
          minlength="4" [(ngModel)]="signup.userName" name=" userName" type="text" #userName="ngModel" >
          <div *ngIf=" userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
            <div *ngIf=" userName.errors.required">
              Name is required.
            </div>
            <div *ngIf=" userName.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'focused':focus2===true}">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input class="form-control" placeholder="Password" type="password" 
            name="passWord" [(ngModel)]="signup.passWord" #passWord="ngModel">
            <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="alert alert-danger">
              <div *ngIf="passWord.errors.required">
                Password is required.
              </div>
              </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'focused':focus1===true}">
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" placeholder="Email" type="email"  required [pattern]="emailPattern"
            name="emailId" [(ngModel)]="signup.emailId" #emailId="ngModel" >
            <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger">
              <div *ngIf="emailId.errors.required">
                Email is required.
              </div>
              <div *ngIf="emailId.errors.pattern">
               Type correct email Id
              </div>
              </div>
        </div>
      </div>

      <div class="form-group" >
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" placeholder="PhoneNumber" type="text" required [pattern]="phoneNumberPattern"
            name="phoneNumber" [(ngModel)]="signup.phoneNumber" #phoneNumber="ngModel" >
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
              <div *ngIf="phoneNumber.errors.required">
                PhoneNumberis required.
              </div>
              <div *ngIf="phoneNumber.errors.pattern">
               Type correct PhoneNumber
              </div>
              </div>
        </div>
      </div>

      <div class="form-group" >
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" placeholder="city" type="text" 
            name="city" [(ngModel)]="signup.city">
        </div>
      </div>

      <div class="row my-4">
        <div class="col-12">
          <div class="custom-control custom-control-alternative custom-checkbox">
            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
            <label class="custom-control-label" for="customCheckRegister">
              <span>I agree with the 
                <a class="linkcolr" [routerLink]="['/privacy-policy']" >Privacy Policy</a>
              </span>
            </label>
            <div class="text-center">
                <button type="button" class="btn btn-primary mt-4" (click)=" onSubmitButtonClicked()">Create account</button>
               
              </div>
          </div>
        </div>
      </div>
     
      <span>Already an user!
          <a class="linkcolr"  >Login Here</a>
        </span>
    </form>

                   </div>
                 </div>
                 </div>
                 <div class="col-md-4 order-md-2 d-lg-none " style="margin-top: -70px;">
                    <div class="card shadow border-0">
                       <div class="card-header bg-greenish">
                          <div class=" text-center  mb-3">
                            <h2 class="text-center text-blues">REGISTER HERE</h2>
                          </div>
                       </div>
                     <div class="card-body px-lg-4 py-lg-4 ">
                 <form role="form">
         <div class="form-group" >
           <div class="input-group input-group-alternative mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
             </div>
             <input class="form-control" placeholder="Username" [(ngModel)]="signup.userName" name="username" type="text" >
           </div>
         </div>
         <div class="form-group" [ngClass]="{'focused':focus2===true}">
           <div class="input-group input-group-alternative">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
             </div>
             <input class="form-control" placeholder="Password" type="password" 
               name="passWord" [(ngModel)]="signup.passWord">
           </div>
         </div>
   
         <div class="form-group" [ngClass]="{'focused':focus1===true}">
           <div class="input-group input-group-alternative mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="ni ni-email-83"></i></span>
             </div>
             <input class="form-control" placeholder="Email" type="email" 
               name="emailId" [(ngModel)]="signup.emailId">
           </div>
         </div>
   
         <div class="form-group" >
           <div class="input-group input-group-alternative mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
             </div>
             <input class="form-control" placeholder="PhoneNumber" type="text" 
               name="phoneNumber" [(ngModel)]="signup.phoneNumber">
           </div>
         </div>
   
         <div class="form-group" >
           <div class="input-group input-group-alternative mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
             </div>
             <input class="form-control" placeholder="city" type="text" 
               name="city" [(ngModel)]="signup.city">
           </div>
         </div>
   
         <div class="row my-4">
           <div class="col-12">
             <div class="custom-control custom-control-alternative custom-checkbox">
               <input class="custom-control-input" id="customCheckRegister" type="checkbox">
               <label class="custom-control-label" for="customCheckRegister">
                 <span>I agree with the 
                   <a class="linkcolr" [routerLink]="['/privacy-policy']" >Privacy Policy</a>
                 </span>
               </label>
               <div class="text-center">
                   <button type="button" class="btn btn-primary mt-4" (click)=" onSubmitButtonClicked()">Create account</button>
                  
                 </div>
             </div>
           </div>
         </div>
        
         <span>Already an user!
             <a class="linkcolr" >Login Here</a>
           </span>
       </form>
   
                      </div>
                    </div>
                    </div>
            </div>
    </div>
    </section>