<section class="section section-shaped " style="    padding-top: 18px;">
    <div class="shape shape-style-1 shape-default">
            
    </div>
</section>

<section class="section section-lgg light-bg section-card-shaped pb-20">
  <div class="shape shape-style-1">
    
  </div>

  <div class="container">
    <div class="row row-grid align-items-center">
      
      <div class="col-md-8 order-md-1 d-lg-inline d-none">
          <img src="./assets/img/brand/signup.webp" class="img-fluid floating" />
        </div>
      <div class="col-md-4 order-md-2 ">
        <div class="card shadow border-0">
          <div class="card-header bg-greenish">
            <div class="text-center mb-3">
              <h2 class="text-center text-blues" style="margin-bottom: -14px;">REGISTER HERE</h2>
            </div>
          </div>
          <div class="card-body px-lg-4 py-lg-4">
            <form role="form">
              <div class="form-group">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="Name"
                    required
                    minlength="4"
                    [(ngModel)]="signup.userName"
                    name=" userName"
                    type="text"
                    #userName="ngModel"
                  />
                </div>
                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="c-text-danger">
                    <p *ngIf="userName.errors.required">
                      *Name is required.
                    </p>
                    <p *ngIf="userName.errors.minlength">
                      *Name must be at least 4 characters long.
                    </p>
                  </div>
                
              </div>
              <div class="form-group" [ngClass]="{ focused: focus2 === true }">
                <div class="input-group ">
                 
                  <input
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    name="passWord"
                    [(ngModel)]="signup.passWord"
                    #passWord="ngModel"
                  /> </div>
                  <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="c-text-danger">
                    <p *ngIf="passWord.errors.required">
                      *Password is required.
                    </p>
                  </div>
               
              </div>

              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    required
                    [pattern]="emailPattern"
                    name="emailId"
                    [(ngModel)]="signup.emailId"
                    #emailId="ngModel"
                  /></div>
                  <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="c-text-danger">
                    <p *ngIf="emailId.errors.required">
                      *Email is required.
                    </p>
                    <p *ngIf="emailId.errors.pattern">
                      *Type correct email Id
                    </p>
                  </div>
                
              </div>

              <div class="form-group">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="PhoneNumber"
                    type="text"
                    required
                    [pattern]="phoneNumberPattern"
                    name="phoneNumber"
                    [(ngModel)]="signup.phoneNumber"
                    #phoneNumber="ngModel"
                  /></div>
                  <div
                    *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                    class="c-text-danger"
                  >
                    <p *ngIf="phoneNumber.errors.required">
                      *PhoneNumberis required.
                    </p>
                    <p *ngIf="phoneNumber.errors.pattern">
                      *Type correct PhoneNumber
                    </p>
                  </div>
                
              </div>

              <div class="form-group">
                <div class="input-group">
                  
                  <input class="form-control" placeholder="city" type="text" name="city" [(ngModel)]="signup.city" />
                </div>
              </div>

              <div class="row my-4">
                <div class="col-12">
                  
                    
                      <span>
                        By Creating an account,you agree to our
                        <a class="linkcolr" [routerLink]="['/terms-conditions']">Terms & Conditions</a>
                      </span>
                    
                    <div class="text-center" style="margin-bottom: 18px;">
                      <button type="button" class="btn btn-primary mt-4" (click)="onSubmitButtonClicked()">
                        Create account
                      </button>
                    </div>
                    <span style="padding-left: 47px">
                      Already an user!
                       <a class="linkcolr " (click)="login()">Login Here</a>
                      </span>
                </div>
              </div>

              
            </form>
          </div>
        </div>
      </div>
      
       
    </div>
  </div>
</section>
