<section class="section section-shaped " style="    padding-top: 18px;">
    <div class="shape shape-style-1 shape-default">
            
    </div>
</section>

<section class="section section-lg light-bg section-card-shaped pb-20">
  <div class="shape shape-style-1"></div>

  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-8 order-md-1 d-lg-inline d-none">
        <img src="./assets/img/brand/img888-01.png" class="img-fluid floating" />
      </div>

      <div class="col-md-4 order-md-2 d-lg-inline d-none">
        <div class="card shadow border-0">
          <div class="card-header bg-greenish">
            <div class="text-center mb-3">
              <h2 class="text-center text-blues" style="margin-bottom: -14px;">REGISTER HERE</h2>
            </div>
          </div>
          <div class="card-body px-lg-4 py-lg-4">
            <form role="form">
              <div class="form-group">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="Name"
                    required
                    minlength="4"
                    [(ngModel)]="signup.userName"
                    name=" userName"
                    type="text"
                    #userName="ngModel"
                  />
                </div>
                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="c-text-danger">
                    <p *ngIf="userName.errors.required" class="par-txxt">
                      *Name is required.
                    </p>
                    <p *ngIf="userName.errors.minlength" class="par-txxt">
                      *Name must be at least 4 characters long.
                    </p>
                  </div>
                
              </div>
              <div class="form-group" [ngClass]="{ focused: focus2 === true }">
                <div class="input-group ">
                 
                  <input
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    name="passWord"
                    [(ngModel)]="signup.passWord"
                    #passWord="ngModel"
                  /> </div>
                  <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="c-text-danger">
                    <p *ngIf="passWord.errors.required" class="par-txxt">
                      *Password is required.
                    </p>
                  </div>
               
              </div>

              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    required
                    [pattern]="emailPattern"
                    name="emailId"
                    [(ngModel)]="signup.emailId"
                    #emailId="ngModel"
                  /></div>
                  <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="c-text-danger">
                    <p *ngIf="emailId.errors.required" class="par-txxt">
                      *Email is required.
                    </p>
                    <p *ngIf="emailId.errors.pattern" class="par-txxt">
                      *Type correct email Id
                    </p>
                  </div>
                
              </div>

              <div class="form-group">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    placeholder="PhoneNumber"
                    type="text"
                    required
                    [pattern]="phoneNumberPattern"
                    name="phoneNumber"
                    [(ngModel)]="signup.phoneNumber"
                    #phoneNumber="ngModel"
                  /></div>
                  <div
                    *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                    class="c-text-danger"
                  >
                    <p *ngIf="phoneNumber.errors.required" class="par-txxt">
                      *PhoneNumberis required.
                    </p>
                    <p *ngIf="phoneNumber.errors.pattern" class="par-txxt">
                      *Type correct PhoneNumber
                    </p>
                  </div>
                
              </div>

              <div class="form-group">
                <div class="input-group">
                  
                  <input class="form-control" placeholder="city" type="text" name="city" [(ngModel)]="signup.city" />
                </div>
              </div>

              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                    <label class="custom-control-label" for="customCheckRegister">
                      <span
                        >I agree with the
                        <a class="linkcolr" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                      </span>
                    </label>
                    <div class="text-center">
                      <button type="button" class="btn btn-primary mt-4" (click)="onSubmitButtonClicked()">
                        Create account
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <span
                >Already an user!
                <a class="linkcolr" (click)="login()">Login Here</a>
              </span>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 order-md-2 d-lg-none" style="margin-top: -70px;">
        <div class="card shadow border-0">
          <div class="card-header bg-greenish">
            <div class="text-center mb-3">
              <h2 class="text-center text-blues" style="margin-bottom: -14px;">REGISTER HERE</h2>
            </div>
          </div>
          <div class="card-body px-lg-4 py-lg-4">
              <form role="form">
                  <div class="form-group">
                    <div class="input-group">
                      
                      <input
                        class="form-control"
                        placeholder="Name"
                        required
                        minlength="4"
                        [(ngModel)]="signup.userName"
                        name=" userName"
                        type="text"
                        #userName="ngModel"
                      />
                    </div>
                      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="c-text-danger">
                        <p *ngIf="userName.errors.required" class="par-txxt">
                          *Name is required.
                        </p>
                        <p *ngIf="userName.errors.minlength" class="par-txxt">
                          *Name must be at least 4 characters long.
                        </p>
                      </div>
                    
                  </div>
                  <div class="form-group" [ngClass]="{ focused: focus2 === true }">
                    <div class="input-group ">
                     
                      <input
                        class="form-control"
                        placeholder="Password"
                        type="password"
                        name="passWord"
                        [(ngModel)]="signup.passWord"
                        #passWord="ngModel"
                      /> </div>
                      <div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" class="c-text-danger">
                        <p *ngIf="passWord.errors.required" class="par-txxt">
                          *Password is required.
                        </p>
                      </div>
                   
                  </div>
    
                  <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                    <div class="input-group">
                      
                      <input
                        class="form-control"
                        placeholder="Email"
                        type="email"
                        required
                        [pattern]="emailPattern"
                        name="emailId"
                        [(ngModel)]="signup.emailId"
                        #emailId="ngModel"
                      /></div>
                      <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="c-text-danger">
                        <p *ngIf="emailId.errors.required" class="par-txxt">
                          *Email is required.
                        </p>
                        <p *ngIf="emailId.errors.pattern" class="par-txxt">
                          *Type correct email Id
                        </p>
                      </div>
                    
                  </div>
    
                  <div class="form-group">
                    <div class="input-group">
                      
                      <input
                        class="form-control"
                        placeholder="PhoneNumber"
                        type="text"
                        required
                        [pattern]="phoneNumberPattern"
                        name="phoneNumber"
                        [(ngModel)]="signup.phoneNumber"
                        #phoneNumber="ngModel"
                      /></div>
                      <div
                        *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                        class="c-text-danger"
                      >
                        <p *ngIf="phoneNumber.errors.required" class="par-txxt">
                          *PhoneNumberis required.
                        </p>
                        <p *ngIf="phoneNumber.errors.pattern" class="par-txxt">
                          *Type correct PhoneNumber
                        </p>
                      </div>
                    
                  </div>
    
                  <div class="form-group">
                    <div class="input-group">
                      
                      <input class="form-control" placeholder="city" type="text" name="city" [(ngModel)]="signup.city" />
                    </div>
                  </div>
    
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                        <label class="custom-control-label" for="customCheckRegister">
                          <span
                            >I agree with the
                            <a class="linkcolr" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                          </span>
                        </label>
                        <div class="text-center">
                          <button type="button" class="btn btn-primary mt-4" (click)="onSubmitButtonClicked()">
                            Create account
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <span
                    >Already an user!
                    <a class="linkcolr" (click)="login()">Login Here</a>
                  </span>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
