


.header-text-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}

.header-texts-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
}


.header-text-lists{
    text-align:left;
    font-weight: 500;
    font-size: 25px;
    color: #225da0;
}

.header-texts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
    padding-top: 0px;
}

.header-texts-p{
    font-family: 'Roboto' !important;
    text-align:center;
    // font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}

.para-txt{
    text-align:justify;

    font-weight: 300;
    font-size:14px;
}

.light-bg{
    background-image:url('/assets/img/back/stock.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1.5;
  }
 
  .header-txt{
    text-align:justify;
    font-weight: 700;
    font-size: 36px;
    color: #1b2b91;
}

.over-lay-blue {
    background: rgba(0, 0, 0, 0.67);
}


.footer-img img{
    height:3.2rem;
    width:auto ;
    // float:right;
}
.card-colors{
   box-shadow: 0 4px 8px 0 rgba(135, 138, 139, 0.2);
   transition:0.3s;
   background-image: linear-gradient(to bottom right,rgb(51, 202, 207),
   rgb(169, 243, 218),
   rgb(198, 241, 227));
   padding: 0 20px 0 20px;
   
   
}
.card-colors:hover{
    box-shadow: 0 8px 16px 0 rgba(135, 138, 139, 0.2);
    background-image: linear-gradient(to bottom right,rgb(51, 202, 207),
     rgb(169, 243, 218),
     rgb(198, 241, 227));
}

// rgb(51, 202, 207),
// "step-2-gradient-bg":           rgb(169, 243, 218),
// "step-3-gradient-bg":          rgb(198, 241, 227),