

.header-t{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 600;
    font-size: 20px;
    color: #225da0;
}
.para-text{
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
  color: #141518;

}

.header-text-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}

.header-text-lt{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}
.h-der-text-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 25px;
    color: #225da0;
}

.headr-text-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}

.header-texts-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
}

.text-primarys{
    color: #1b2b91;
  background-color: rgb(153, 238, 217);
}

.header-text-lists{
    text-align:left;
    font-weight: 500;
    font-size: 25px;
    color: #225da0;
}

.header-texts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
    padding-top: 0px;
}


.text-primarys{
    background-color: #62aaeb;
    color: whitesmoke;
}

.header-texts-p{
    font-family: 'Roboto' !important;
    text-align:center;
    // font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}

.para-texts{
    text-align:justify;
    color: #ece7e7;
    font-weight: 500;
    font-size:15px;
}

.para-txt{
    text-align:justify;

    font-weight: 300;
    font-size:14px;
}

.light-bg{
    background-image:url('/assets/img/brand/background-design.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
  }
  
.lit-bg{
    background-image:url('/assets/img/brand/mobile-back.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
  }
  
.over-laye {
    background: #33cacf2e;
}
.padds{
    margin-left: 17px;
    margin-right: 24px;
}
 
  .header-txt{
    text-align:justify;
    font-weight: 700;
    font-size: 36px;
    color: #1b2b91;
}

.over-lay-blue {
    background: #33cacfbf;
}


.footer-img img{
    height:3.2rem;
    width:auto ;
    // float:right;
}
.card-colors{
   box-shadow: 0 4px 8px 0 rgba(87, 92, 93, 0.2);
   transition:0.3s;
//    background-image: linear-gradient(to bottom right,rgb(51, 202, 207),
//    rgb(169, 243, 218),
//    rgb(198, 241, 227));
//    padding: 0 20px 0 20px;
   
   background-color: #33cacf80;
   
}
.card-colors:hover{
    box-shadow: 0 8px 16px 0 rgba(135, 138, 139, 0.2);
    
}

// rgb(51, 202, 207),
// "step-2-gradient-bg":           rgb(169, 243, 218),
// "step-3-gradient-bg":          rgb(198, 241, 227),

.owl-item{
    text-align:center;
    font-weight: 700;
    font-size: 26px;
    color: #1b2b91;
}
.card-colrs{
    box-shadow: 0 4px 8px 0 rgba(87, 92, 93, 0.2);
    transition:0.3s;
 //    background-image: linear-gradient(to bottom right,rgb(51, 202, 207),
 //    rgb(169, 243, 218),
 //    rgb(198, 241, 227));
 //    padding: 0 20px 0 20px;
    
    background-color: #ffff;
    
 }
 card-colr{
   
    transition:0.3s;
 
    
    background-color: #ffff;
    
 }
 .stock-img{
     height: 310px;
 }
