


.header-text-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}


.header-text-lists{
    text-align:left;
    font-weight: 500;
    font-size: 25px;
    color: #225da0;
}


.para-txt{
    text-align:justify;

    font-weight: 300;
    font-size:14px;
}

.light-bg{
    background-image:url('/assets/img/back/stock.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1.5;
  }
 
  .header-txt{
    text-align:justify;
    font-weight: 700;
    font-size: 36px;
    color: #1b2b91;
}

.over-lay-blue {
    background: rgba(0, 0, 0, 0.67);
}


.footer-img img{
    height:3.2rem;
    width:auto ;
    // float:right;
}