<section class="section section-lgg pb-20">

  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/brand/img66-01.webp" class="img-fluid floating">
      </div>
      <div class="col-lg-12 order-md-1" style="margin-top: 0px;">
        <h3 class="header-text-list ">What we offer through our courses</h3>
        <p class="para-text">A Collaborative environment where we can all learn and grow together. We believe in making
          money consistently, So keeping that in mind, we have designed our trading strategies & concepts so that the
          money you have earned gets the value it deserves. Not only rookies but we also welcome struggling trades or
          investors who spent time in trading but still looking for a consistent profitable strategy to grow their
          money.</p>
      </div>
      <div class="col-md-6 order-md-1" style="margin-top: -18px;">
        <div class="pr-md-5">



          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-t" style="padding-bottom: 9px;">Technical and fundamental analysis</h6>
                  <p class="para-text">Learn the technicals and fundamentals that dominate the market in order to
                    properly time your trades.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-t" style="padding-bottom: 9px;">Equity,futures and options segments</h6>
                  <p class="para-text">Learn basics professional level trading and investment ideas about these
                    segments.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-envira" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-t" style="padding-bottom: 9px;">Stock, commodity and forex markets</h6>
                  <p class="para-text">Learn about the various money markets currently available for retail trading and
                    investments.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-t" style="padding-bottom: 9px;">Personal finance</h6>
                  <p class="para-text">Learn personal finance for manage your personal finance and achieve financial
                    freedom.</p>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-t" style="padding-bottom: 9px;">On demand mentorship</h6>
                  <p class="para-text">Get priority support from top Lurecap Academy instructors on demand.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container   ">
    <div class="col-lg-12 order-md-1 d-lg-inline d-none" style="margin-top: 0px;">
      <h3 class="header-text-list ">What We Provide</h3>
      <p class="para-text">Lurecap Academy welcomes you to our share market trading training classes. We have best
        trainers who are highly qualified and experienced and have relevant industry exposure in their fields of
        expertise, capable of solving all your practical queries.</p>
    </div>
    <div class="d-lg-inline d-none">
      <div class="row row-grid mt-5 pb-12 ">

        <div class="col-lg-4 card-colors" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">Result-Proven Trading Strategy</h5>
          <p class="para-text">Trading is no one-hit wonder. To profit consistently, you need a proven strategy that
            works in any market… bull, bear or sideways. You’ll learn trusted strategy from our trading classes that has
            beaten the performance of the nifty and sensex Index year after year.</p>
        </div>
        <div class="col-lg-4" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
            <i class="fa fa-leanpub" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">Risk & Money Management</h5>
          <p class="para-text">In fact, a critical error newbie traders make is to over-risk their position or
            over-trade. Our training is designed to protect your account from getting wiped out. With our trusted
            position-sizing formula, you’ll always know the exact number of shares you should trade.</p>
        </div>
        <div class="col-lg-4 card-colors" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
            <i class="fa fa-meetup" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">Trading Psychology</h5>
          <p class="para-text">You can have a “sure-win” strategy but still lose if you overlook one thing - your
            mindset. Many traders sabotage their profits as they get gripped by greed or fear, breaking their trading
            rules with irrational decisions. Let Lure Wealth training equips you with nerves of steel even in face of
            heart-pumping price ups and down.</p>
        </div>
      </div>
      <div class="row row-grid mt-5 pb-12 ">
        <div class="col-lg-4" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">Strategies for a Consistent Income</h5>
          <p class="para-text">You will learn proven intraday, swing and short term trading strategies that give you an
            edge over the markets.</p>
        </div>
        <div class="col-lg-4 card-colors" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
            <i class="fa fa-envira" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">No More Fear and Greed; 100% Confidence</h5>
          <p class="para-text">You will learn to manage your psychology like a top trader and make solid decisions even
            on nerve-racking trading days.</p>
        </div>
        <div class="col-lg-4" style="padding-top: 20px;">
          <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
          <h5 class="header-t" style=" margin-top: 14px;">Proprietary Tools for Profitable Trading</h5>
          <p class="para-text">You’ll spend less time trading and more time profiting with our effort-saving tools
            developed by traders for traders.</p>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="container  section-card-shaped over-laye ">
  <div class="shape shape-style-1 lit-bg ">

  </div>
  <div class="col-lg-12 order-md-1 d-lg-none " style="padding-top: 20px;">
    <h3 class="header-text-list ">What We Provide</h3>
    <p class="para-text">Lurecap Academy welcomes you to our share market trading training classes. We have best
      trainers who are highly qualified and experienced and have relevant industry exposure in their fields of
      expertise, capable of solving all your practical queries.</p>
  </div>
  <div class="row row-grid mt-5 pb-12 d-lg-none ">

    <div class="col-lg-4 " style="margin-top: 0px;">
      <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">Result-Proven Trading Strategy</h5>
      <p class="para-text">Trading is no one-hit wonder. To profit consistently, you need a proven strategy that works
        in any market… bull, bear or sideways. You’ll learn trusted strategy from our trading classes that has beaten
        the performance of the nifty and sensex Index year after year.</p>

      <hr style="background-color: #62aaeb;">
    </div>

    <div class="col-lg-4" style="margin-top: 0px;">
      <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
        <i class="fa fa-leanpub" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">Risk & Money Management</h5>
      <p class="para-text">In fact, a critical error newbie traders make is to over-risk their position or over-trade.
        Our training is designed to protect your account from getting wiped out. With our trusted position-sizing
        formula, you’ll always know the exact number of shares you should trade.</p>
      <hr style="background-color: #62aaeb;">
    </div>

    <div class="col-lg-4 " style="margin-top: 0px;">
      <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
        <i class="fa fa-meetup" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">Trading Psychology</h5>
      <p class="para-text">You can have a “sure-win” strategy but still lose if you overlook one thing - your mindset.
        Many traders sabotage their profits as they get gripped by greed or fear, breaking their trading rules with
        irrational decisions. Let Lure Wealth training equips you with nerves of steel even in face of heart-pumping
        price ups and down.</p>
      <hr style="background-color: #62aaeb;">
    </div>



    <div class="col-lg-4" style="margin-top: 0px;">
      <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">Strategies for a Consistent Income</h5>
      <p class="para-text">You will learn proven intraday, swing and short term trading strategies that give you an edge
        over the markets.</p>
      <hr style="background-color: #62aaeb;">
    </div>

    <div class="col-lg-4 " style="margin-top: 0px;">
      <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
        <i class="fa fa-envira" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">No More Fear and Greed; 100% Confidence</h5>
      <p class="para-text">You will learn to manage your psychology like a top trader and make solid decisions even on
        nerve-racking trading days.</p>
      <hr style="background-color: #62aaeb;">
    </div>

    <div class="col-lg-4" style="margin-top: 0px;     margin-bottom: -40px;">
      <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
      </div>
      <h5 class="header-t" style=" margin-top: 14px;">Proprietary Tools for Profitable Trading</h5>
      <p class="para-text">You’ll spend less time trading and more time profiting with our effort-saving tools developed
        by traders for traders.</p>
      <hr style="background-color: #62aaeb;">
    </div>

  </div>

</div>
<section class="d-lg-none" style="margin-top: 20px">
  <div class="col-lg-12">
    <h1 class="header-texts">MARKETS</h1>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class=" col-lg-12">
        <owl-carousel-o [options]="customOptions">

          <ng-template carouselSlide>

            <div class="col-lg-3 col-md-12 card-colr">
              <ul style="padding-left:0px;">
                <img src="./assets/img/brand/stock.webp" class="stock-img">
              </ul>
              <h6 class=" text-center " style="color: #225da0; font-size: 22px ;font-weight: 500">STOCKS</h6>
              <p class=" para-text"> Buying a stock means, you’re literally buying a part of that company you’re
                investing in. Stocks represent the financial trade sector. Lurecap Academy provides deep ideas about
                trading and investing through its courses.</p>
            </div>

          </ng-template>
          <ng-template carouselSlide>


            <div class="col-lg-3 col-md-12 card-colr">
              <ul style="padding-left:0px;">
                <img src="./assets/img/brand/ezgif.com-gif-maker.webp">
              </ul>
              <h6 class="text-center" style="color: #225da0; font-size: 22px ;font-weight: 500">DERIVATIVES</h6>
              <p class=" para-text">Futures and options are the major types of stock derivatives traded in a share
                market. These contracts try to hedge market risks involved in stock market trading by locking in the
                price beforehand. Lurecap Academy will teach you how to effectively utilise FNO.</p>
            </div>

          </ng-template>
          <ng-template carouselSlide>

            <div class="col-lg-3 col-md-12 card-colr">
              <ul style="padding-left:0px;">
                <img src="./assets/img/brand/commodity.webp">
              </ul>
              <h6 class="text-center" style="color: #225da0; font-size: 22px ;font-weight: 500">COMMODITY</h6>
              <p class=" para-text"> commodities represent the raw products sector. commodities are not physically
                traded on an exchange and instead traded through commodity futures and forward contracts. Lurecap
                Academy guides you to trade in commodity market.</p>
            </div>


          </ng-template>
          <ng-template carouselSlide>
            <div class="col-lg-3 col-md-12 card-colr">
              <ul style="padding-left:0px;">
                <img src="./assets/img/brand/forex.webp">
              </ul>
              <h6 class="text-center" style="color: #225da0; font-size: 22px ;font-weight: 500">FOREX </h6>
              <p class=" para-text"> The foreign exchange market is where currencies are traded. The market is open 24
                hours a day, five and a half days a week, and currencies are traded worldwide. Forex market can be
                extremely active any time of the day. Lurecap Academy provides structured classes to trade in Forex
                market.</p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

    </div>
  </div>
</section>





<section class="section section-lgg section-card-shaped over-lay-blue pb-20">
  <div class="shape shape-style-1 light-bg ">

  </div>


  <div class="container">
    <div class="row row-grid align-items-center">

      <div class="col-md-6 order-md-1">
        <img src="./assets/img/brand/img999-01.webp" class="img-fluid floating">
      </div>


      <div class="col-md-6 order-md-2">
        <div class="pr-md-5">
          <h3 class="header-text-lt" style="margin-bottom: 40px;">Our Featured Services</h3>

          <h1 class="h-der-text-list">Mentorship

          </h1>
          <div class="row">
            <div class="col">

              <p class="para-text">It is important for every individual to understand the various types of financial
                products to create a financial portfolio. Each financial product has its own risk and rewards. The
                reforms happening in the Indian Financial Market has brought various types of financial instruments for
                the end users, starting from simple Fixed Deposit to Futures & Options trading.</p>
            </div>
          </div>



          <h1 class="h-der-text-list">Community

          </h1>
          <div class="row">
            <div class="col">

              <p class="para-text">Join an energetic community of 1,000+ traders on the same wavelength as you.Trading
                is lonely when you're surrounded by "Normal People" who just don't get it.</p>
            </div>
          </div>
          <div class="btn-wrapper row justify-content-center" style="margin-top: 15px;">

            <span class="btn btn-view mt-6" [routerLink]="['/Community']">
              learn more</span>
          </div>
        </div>
      </div>


    </div>
  </div>



</section>


<section class="section section-lgs section-card-shaped d-lg-inline d-none">
  <div class="col-lg-12">
    <h1 class="header-texts" style="padding-top: 40px">MARKETS</h1>
  </div>

  <div class="container" style="padding-bottom: 50px">


    <div class="row ">

      <div class="col-lg-3 col-md-12 card-colrs  ">
        <ul class="navbar-brnd">
          <img src="./assets/img/brand/stock.webp" style="padding-top: 8px; margin-left: 15px;">
        </ul>
        <h6 class=" text-center " style="color: #225da0; font-size: 15px ;font-weight: 500">STOCKS</h6>
        <p class=" para-text"> Buying a stock means, you’re literally buying a part of that company you’re investing in.
          Stocks represent the financial trade sector. Lurecap Academy provides deep ideas about trading and investing
          through its courses.</p>
      </div>

      <div class="col-lg-3 col-md-12 card-colrs">
        <ul class="navbar-brnd">
          <img src="./assets/img/brand/ezgif.com-gif-maker.webp" style="margin-left: 28px;
        padding-top: 8px;">
        </ul>
        <h6 class="text-center" style="color: #225da0; font-size: 15px ;font-weight: 500">DERIVATIVES</h6>
        <p class=" para-text">Futures and options are the major types of stock derivatives traded in a share market.
          These contracts try to hedge market risks involved in stock market trading by locking in the price beforehand.
          Lurecap Academy will teach you how to effectively utilise FNO.</p>
      </div>
      <div class="col-lg-3 col-md-12 card-colrs ">
        <ul class="navbar-brnd">
          <img src="./assets/img/brand/commodity.webp" style="margin-left: 28px;
          padding-top: 8px;">
        </ul>
        <h6 class="text-center" style="color: #225da0; font-size: 15px ;font-weight: 500">COMMODITY</h6>
        <p class=" para-text"> commodities represent the raw products sector. commodities are not physically traded on
          an exchange and instead traded through commodity futures and forward contracts. Lurecap Academy guides you to
          trade in commodity market.</p>
      </div>
      <div class="col-lg-3 col-md-12 card-colrs">
        <ul class="navbar-brnd">
          <img src="./assets/img/brand/forex.webp" style="margin-left: 28px;
        padding-top: 8px;">
        </ul>
        <h6 class="text-center" style="color: #225da0; font-size: 15px ;font-weight: 500">FOREX </h6>
        <p class=" para-text"> The foreign exchange market is where currencies are traded. The market is open 24 hours a
          day, five and a half days a week, and currencies are traded worldwide. Forex market can be extremely active
          any time of the day. Lurecap Academy provides structured classes to trade in Forex market.</p>
      </div>
    </div>
  </div>
</section>