 
<section class="section section-lg pb-20">
  <div class="container pb-12">
    <div class="row row-grid mt-5">
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">Result-Proven Trading Strategy</h5>
        <p class="para-text">Trading is no one-hit wonder. To profit consistently, you need a proven strategy that works in any market… bull, bear or sideways. You’ll learn trusted strategy from our trading classes that has beaten the performance of the nifty and sensex Index year after year.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
            <i class="fa fa-leanpub" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">Risk & Money Management</h5>
        <p class="para-text">In fact, a critical error newbie traders make is to over-risk their position or over-trade. Our training is designed to protect your account from getting wiped out. With our trusted position-sizing formula, you’ll always know the exact number of shares you should trade.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
            <i class="fa fa-meetup" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">Trading Psychology</h5>
        <p class="para-text">You can have a “sure-win” strategy but still lose if you overlook one thing - your mindset. Many traders sabotage their profits as they get gripped by greed or fear, breaking their trading rules with irrational decisions. Let Lure Wealth training equips you with nerves of steel even in face of heart-pumping price ups and down.</p>
      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys ">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">Strategies for a Consistent Income</h5>
        <p class="para-text">You will learn proven intraday, swing and short term trading strategies that give you an edge over the markets.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape shadow rounded-circle text-primarys ">
          <i class="fa fa-envira" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">No More Fear and Greed; 100% Confidence</h5>
        <p class="para-text">You will learn to manage your psychology like a top trader and make solid decisions even on nerve-racking trading days.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape  shadow rounded-circle text-primarys">
          <i class="fa fa-asterisk" aria-hidden="true"></i>
        </div>
        <h5 class="header-text-lt">Proprietary Tools for Profitable Trading</h5>
        <p class="para-text">You’ll spend less time trading and more time profiting with our effort-saving tools developed by traders for traders.</p>
      </div>
    </div>
  </div>
   
  </section>    
   

  
 
    
  
  <section class="section section-lgs section-card-shaped pb-20">
      <div class="shape shape-style-1 shape-default">
      </div>
      <div class="container">
          <div class="row row-grid align-items-center"> 
            <div class="col-md-6 order-md-1">
               <h1 class="header-text-list">Mentorship
              
                </h1>
              <div class="row">
                <div class="col">
             
                  <p class=" para-text">It is important for every individual to understand the various types of financial products to create a financial portfolio. Each financial product has its own risk and rewards. The reforms happening in the Indian Financial Market has brought various types of financial instruments for the end users, starting from simple Fixed Deposit to Futures & Options trading.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-md-2">
                <h1 class="header-text-list">Community
              
                </h1>
              <div class="row">
                <div class="col">
             
                  <p class=" para-text">
                    Join an energetic community of 1,000+ traders on the same wavelength as you.Trading is lonely when you're surrounded by "Normal People" who just don't get it.</p>
                </div>
              </div>
                <div class="btn-wrapper row justify-content-center">
     
                  <span class="btn btn-view mt-6" [routerLink]="['/Community']">
                    learn more</span>
               </div>
              
            </div>
          </div>
          
          
        </div>
  </section>
  
  <section class="section section-lgs section-card-shaped pb-20">
      
      
       
      
      <div class="col-lg-12">
          <h1 class="header-texts" >MARKETS</h1>
        </div>

   <div class="container pb-10 ">
     
      
     <div class="row ">
       
        <div class="col-lg-3 col-md-12 card-colors ">
          <ul class="navbar-brnd">
            <img src="./assets/img/brand/stocks.png">
          </ul>
              <h6 class=" text-center " style="color: #225da0">STOCKS</h6>
              <p class=" para-txt" >  Buying a stock means, you’re literally buying a part of that company you’re investing in. Stocks represent the financial trade sector. Lurecap Academy provides deep ideas about trading and investing through its courses.</p>
        </div>
        <div class="col-lg-3 col-md-12 card-colors ">
          <ul class="navbar-brnd">
            <img src="./assets/img/brand/forex.png">
          </ul>
            <h6 class="text-center" style="color: #225da0">COMMODITY</h6>
            <p class=" para-txt" >  commodities represent the raw products sector. commodities are not physically traded on an exchange and instead traded through commodity futures and forward contracts. Lurecap Academy guides you to trade in commodity market.</p>
        </div>
        <div class="col-lg-3 col-md-12 card-colors">
          <ul class="navbar-brnd">
            <img src="./assets/img/brand/options_Mesa de trabajo 1.png">
          </ul>
            <h6 class="text-center" style="color: #225da0">DERIVATIVES</h6>
            <p class=" para-txt" >Futures and options are the major types of stock derivatives traded in a share market. These contracts try to hedge market risks involved in stock market trading by locking in the price beforehand. Lurecap Academy will teach you how to effectively utilise FNO.</p>
        </div>
        <div class="col-lg-3 col-md-12 card-colors">
          <ul class="navbar-brnd">
            <img src="./assets/img/brand/futures_Mesa de trabajo 1.png">
          </ul>
            <h6 class="text-center" style="color: #225da0">FOREX </h6>
            <p class=" para-txt" > The foreign exchange market is where currencies are traded. The market is open 24 hours a day, five and a half days a week, and currencies are traded worldwide. Forex market can be extremely active any time of the day. Lurecap Academy provides structured classes to trade in Forex market.</p>
        </div>
      </div>
    </div> 
   </section>

  
<section class="section section-lgs section-card-shaped ">
    <div class="shape shape-style-1 ">
    </div>
    <div class="container pb-12">
      
      <div class="row ">
        
          <hr>
        
          <div class="col-lg-12">
            <h1 class="header-texts" >Our Partners </h1>
            <p class="header-texts-p">we are with india's biggest option trading platforms</p>
          </div>
      </div>
                     
      <div class="row">      
          <div class="col-lg-6 footer-img">
            <a href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/images.png"></a>
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
            </div>
          <div class="col-lg-6 footer-img">
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/icici.png"></a>
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/upstox.png"></a>
          </div>
          
      </div>
    </div>
    
</section>