<!-- <section class="section section-lg light-bg pb-12 ">
  <div class="over-lay-blue pb-0">
    <div class="container py-lg-0 pb-20 ">
        <div class="row justify-content-center ">
           <div class="col-lg-12 text-center ">
                <h1 class="text-center header-txt">What We provide</h1>  
           </div> 
         </div>
          
    </div>
    <div class="container pb-20">        
        <div class="row">
              <div class="d-flex px-3">
               <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                    <i class="ni ni-building text-primary"></i>
                  </div>
                </div> 
      
               <div class="col-lg-4">
                  <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                      <i class="ni ni-building text-primary"></i>
                    </div>
                  <h4 class="header-text-lists ">Fundamentals training</h4>
                  <p class="para-txt">We will teach you deep informations regarding fundamental analysis.</p>
                </div> 
            </div>  
      
           <div class="d-flex px-3"> 
                   <div>
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="ni ni-building text-primary"></i>
                    </div>
                  </div> 
        
                   <div class="col-lg-4">
                      <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                          <i class="ni ni-building text-primary"></i>
                        </div>
                    <h4 class=" header-text-lists">Technicals Training</h4>
                    <p class="para-txt">We are expertise in providing wide knowledge about technicals of sharemarket.</p>
                  </div> 
            </div> 
      
      
             <div class="d-flex px-3"> 
                     <div>
                      <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="ni ni-building text-primary"></i>
                      </div>
                    </div> 
          
                     <div class="col-lg-4">
                        <div class="icon icon-lg-justify icon-shape bg-gradient shadow rounded-circle">
                            <i class="ni ni-building text-primary"></i>
                          </div>
                      <h4 class="header-text-lists ">Derivatives</h4>
                      <p class="para-txt">Futures and options are two popular derivatives in the capital market.we provide 30 + strategies in our trading derivatives.</p>
                    </div> 
            </div> 
      
        </div>
     </div>
    
    

  </div>

</section> --> 
<section class="section section-lg pb-20">
  
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/ill/home-01.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            
            <h3 class="header-text-list">Powerful Alone,Stronger Together</h3>
            <p class="para-txt">A Collaborative environment where we can all learn and grow together.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 header-text-lists">Proven Process</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 header-text-lists">Mental Reprograming</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0 header-text-lists">Collaborative Environment</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0 header-text-lists">Assistance/Mentorship</h6>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>    
   
  
  <section class="section section-lgs section-card-shaped pb-20">
      <div class="shape shape-style-1 shape-default">
      </div>
      <div class="container">
          <div class="row row-grid align-items-center"> 
            <div class="col-md-6 order-md-1">
               <h1 class="header-text-list">Mentorship
              
                </h1>
              <div class="row">
                <div class="col">
             
                  <p class=" para-text">It is important for every individual to understand the various types of financial products to create a financial portfolio. Each financial product has its own risk and rewards. The reforms happening in the Indian Financial Market has brought various types of financial instruments for the end users, starting from simple Fixed Deposit to Futures & Options trading.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-md-2">
                <h1 class="header-text-list">Free Webinars
              
                </h1>
              <div class="row">
                <div class="col">
             
                  <p class=" para-text">
                  Take advantage of our free webinars driven to accelerate our member's learning curve.No matter how 
                  advanced or experienced you may think you are,questions will always appear.No need to scavenge the 
                  internet for your how what and when questions and joins these webinars for a more in depth breakdown.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
       