.btn-community {
    color: #fff;
    border-color: #1b2b91;
    background-color:#1b2b91;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}

.bg-greenish{
    background-color:#1b2b91;
}

.text-blues{
    color: #ffffff;
}

.para-txt{
    text-align:justify;
    color: #7c7f88;
    font-weight: 300;
    font-size:14px;
}


.header-text{
    text-align:left;
    font-weight: 600;
    font-size: 36px;
    color: #1b2b91;
}

.header-txt{
    text-align:left;
    font-weight: 600;
    font-size: 20px;
    color: #1b2b91;
}



.navbar-brands {
    font-size: font-size-sm;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .6px;
  
}

 
img {
    height:60px;
}

.bck-img{
    background-image: url('/assets/img/back/stock.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.over-lay-blue {
    background:rgba(8, 8, 8, 0.73);
}

.header-text-lst{
    text-align:center;
    padding:100px 0 50px 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff
}

