<section class="section section-shaped" style="padding-top: 18px;">
  <div class="shape shape-style-1 shape-default"></div>
</section>
<section class="section section-lga pb-20">
  <div class="container pb-12">
    <div class="row row-grid align-items-center">
      <div class="col-md-7 order-md-1 pb-12">
        <div class="pr-md-5">
          <h3 class="header-txt-list">Traders Community</h3>
          <p class="para-txt">
            Join an energetic community of 1,000+ traders on the same wavelength as you.Trading is lonely when you're
            surrounded by "Normal People" who just don't get it.
          </p>
          <ul>
            <li class="header-txt">Trading Tips</li>
            <p class="para-txt" style="margin-top: 10px;">
              We’re constantly on the look out to provide our members with only the top techniques to have the upper
              hand in trading.
            </p>
            <li class="header-txt">Collaborative Environment</li>
            <p class="para-txt" style="margin-top: 10px;">
              Join in community of like-minded individuals with the same passion to excel in life.
            </p>
            <li class="header-txt">Q & A Session</li>
            <p class="para-txt" style="margin-top: 10px;">
              Having trouble with something? JUST ASK! No more waiting days or weeks for your how/why questions.
            </p>
            <li class="header-txt">On demand Mentorship</li>
            <p class="para-txt" style="margin-top: 10px;">
              Receive the best assistance through your trading journey with our experienced traders right by your side.
            </p>
          </ul>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-12 d-lg-none">
            <h3 class="header-text">NOT READY TO PAY FOR JOIN IN COMMUNITY? NO PROBLEM.</h3>
            <h3 class="par-txt">open demate account with us and get lifetime free community access!!</h3>
          </div>
        </div>
      </div>
      <div class="col-md-5 order-md-2">
        <div class="card shadow border-0">
          <div class="card-header bg-greenish pb-20">
            <div class="text-center mb-3">
              <h2 class="text-blues head-card" style="margin-bottom: -14px;">Join with us</h2>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form [formGroup]="communityForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <!-- <div class="input-group"> -->
                <input type="text" formControlName="fullName" class="form-control" placeholder="Name"  minlength="3"
                  [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                <!-- </div> -->
                <div *ngIf="submitted && f.fullName.errors" class="text-danger">
                  <div *ngIf="f.fullName.errors.required" class="par-txxt">*name is required</div>
                  <div *ngIf="f.fullName.errors.minlength" class="par-txxt">*name must be 3 characters</div>
                </div>
              </div>
              <div class="form-group mb-3">
                <!-- <div class="input-group"> -->
                <input class="form-control" placeholder="Email" type="email" formControlName="emailId"
                  [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                <!-- </div> -->
                <div *ngIf="submitted && f.emailId.errors" class="text-danger">
                  <div *ngIf="f.emailId.errors.required" class="par-txxt">*email is required</div>
                  <div *ngIf="f.emailId.errors.email" class="par-txxt">*must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <!-- <div class="input-group"> -->
                <input class="form-control" placeholder="Phone Number" formControlName="phoneNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <!-- </div> -->
                <div *ngIf="submitted && f.phoneNumber.errors" class="text-danger">
                  <div *ngIf="f.phoneNumber.errors.required" class="par-txxt">*phone number is required</div>
                </div>
              </div>
              <div class="text-center">
                <button mat-button cdkFocusInitial class="btn btn-community my-4" (click)="createCommunity()">
                  Join
                </button>
              </div>
            </form>
            <div class="success" *ngIf="showSuccessMessage">
              Thank You for choosing us!<br> Our executive will contact you soon
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12 d-lg-inline d-none">
      <h3 class="header-text">NOT READY TO PAY FOR JOIN IN COMMUNITY? NO PROBLEM.</h3>
      <h3 class="par-txt">open demate account with us and get lifetime free community access!!</h3>
    </div>
  </div>
</div>
<section class="section section-lgs section-card-shaped over-lay-blue pb-20">
  <div class="shape shape-style-1 light-bg"></div>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-4 order-md-1">
        <img src="./assets/img/brand/img77-01.webp" class="img-fluid" />
      </div>
      <div class="col-lg-8 order-md-2">
        <h1 class="header-txt-list">
          YOU'RE JOINING A MOVEMENT
        </h1>
        <div class="row">
          <div class="col">
            <p class="para-texts">
              There are a lot of other stock market trading services and companies that are out there but you'll see
              very quickly that we are different. We’re extremely proud of our stock market trading community and the
              "Open Demate account with us" mentality that flows throughout it. You're not joining in just cheap trading
              service. You're joining a movement when you subscribe to our community. You’re going to quickly see that
              the Lurecap Academy Community isn’t about the money. We are all about the people. We are about helping
              you. YOU are our passion!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col">
        <h1 class="head-txt-list">"Our passion is for our community, trading, mentoring and teaching our members"</h1>
      </div>
    </div>
  </div>
</section>
<section class="section section-lgs section-card-shaped pb-20">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/brand/home-01.png" class="img-fluid floating" />
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <h3 class="header-txt-list">Powerful Alone,Stronger Together</h3>
          <p class="para-txt">A Collaborative environment where we can all learn and grow together.</p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-txt">Proven Process</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-txt">Mental Reprograming</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-envira" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-txt">Collaborative Environment</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3 text-primarys">
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0 header-txt">On Demand Mentorship</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container over-lay-blue">
    <div class="row row-grid align-items-center">
      <div class="col">
        <h1 class="header-txt-list" style="padding-top: 15px;">STOCK MARKET TRADING AGAINST THE GRAIN</h1>
        <p class="para-txt" style="padding-bottom: 6px;">
          We love that we are going completely against the grain in the industry. No sugar-coating: It takes time,
          dedication, passion, motivation, and focus to make it as a trader. We believe ANYONE CAN BECOME A PROFITABLE
          TRADER – if they have the proper mind-set and dedication. You might be thinking that what we're saying sounds
          too good to be true? What you see is what you get in our trading community.
        </p>
      </div>
    </div>
  </div>
</section>
<app-partners></app-partners>