.btn-community {
    color: #fff;
    border-color: #1b2b91;
    background-color:#1b2b91;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}

.btn-lavender {
    color: #fff;
    border-color: #1b2b91;
    background-color:#1b2b91;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.bg-greenish{
    background-color:#1b2b91;

}


.light-bg{
    background-image:url('/assets/img/brand/imgwavee-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
  }

  .over-lay-blue {
    background: #33cacfbf;
}
.text-blues{
    color: #ffffff;
}

.para-txt{
    text-align:justify;
    color: #141518;
    font-weight: 500;
    font-size:15px;
}
.c-text-danger
{
    color:red;
}

.par-txt{
    text-align:center;
    color: #7c7f88;
    font-weight: 300;
    font-size:18px;
}
.para-texts{
    text-align:justify;
    color: #141518;
    font-weight: 500;
    font-size:15px;
}

.head-card{
    text-align:center;
    font-weight: 600;
    font-size: 26px;
   
}

.text-primarys{
    background-color: #62aaeb;
    color: whitesmoke;
}
.header-text{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 20px;
    color: #225da0;
}

.header-txt{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 600;
    font-size: 20px;
    color: #225da0;
}

.head-txt{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 400;
    font-size: 20px;
    color: #225da0;
}



.navbar-brands {
    font-size: font-size-sm;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .6px;
  
}



.header-text-lst{
    text-align:center;
    padding:100px 0 50px 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff
}



.header-txt-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 26px; 
    color: #225da0;
}

.head-txt-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 300;
    font-size: 26px; 
    color: #225da0;
}

.header-texts{
    text-align:center;
    font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}



.heade-txt-list{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 26px; 
    color: #225da0;
}
para-txt-list{
    font-family: 'Roboto' !important;
    text-align:justify;
    font-weight: 500;
    font-size: 16px; 
    color: #225da0;
}


.header-texts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
    padding-top: 0px;
}

.header-texts-p{
    font-family: 'Roboto' !important;
    text-align:center;
    // font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}

.card-colrs{
    box-shadow: 0 4px 8px 0 rgba(87, 92, 93, 0.2);
    transition:0.3s;
 //    background-image: linear-gradient(to bottom right,rgb(51, 202, 207),
 //    rgb(169, 243, 218),
 //    rgb(198, 241, 227));
 //    padding: 0 20px 0 20px;
    
    background-color: #ffffff;
    
 }