<section class="section section-shaped pb-5">
    <div class="shape shape-style-1 shape-default">
            
    </div>
  </section>

  <section class="section section-lgg ">
    
    <div class="container ">
          
      <div class="row row-grid align-items-center">
              
              
              <div class="col-md-7 order-md-1 ">
                  <div class="pr-md-5" >
                            
                            <h3 class="header-text">Interactive Traders Community</h3>
                            <p class="para-txt">Join an energetic community of 1,000+ traders on the same wavelength as you.Trading is lonely when you're surrounded by "Normal People" who just don't get it.</p>
                      <ul class="header-txt">
                              <li>Bullet content</li>
                              <li>Bullet content</li>
                              <li>Bullet content</li>
                              <li>Bullet content</li>
                              
                      </ul>
                      
                    <div class="container">
                      <div class="row">
                          <div class="col-6 align-items-right">
                              <ul class="navbar-brands ">
            
                                    <img src="./assets/img/brand/images.png">
                          
              
                              </ul>
                          </div>
                          <div class="col-6">
                                <ul class="navbar-brands">
                
                                     <img src="./assets/img/brand/image3.png">
                              
                  
                                </ul>
                          </div>
                      </div>
                      </div>
                    
                    </div>
                      
              </div>
  
  
              <div class="col-md-5 order-md-2">
                  <div class="card shadow border-0"  >
                      <div class="card-header bg-greenish  pb-20">
                        <div class="text-center mb-3">
                          <h2 class="text-blues">Join with us</h2>
                        </div>
                      </div>
                      <div class="card-body px-lg-5 py-lg-5">
                        <form role="form" class="pb-0">
                          <div class="form-group" >
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                </div>
                                <input class="form-control" placeholder="Name" name="name" [(ngModel)]="community.name" >
                              </div>
                          </div>
                          <div class="form-group mb-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                              </div>
                              <input class="form-control" placeholder="Email" type="email" name="email" [(ngModel)]="community.emailId" >
                            </div>
                          </div>
                          <div class="form-group" >
                            <div class="input-group ">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                              </div>
                              <input class="form-control" placeholder="Phone Number"  name="phoneName" [(ngModel)]="community.phoneName">
                            </div>
                          </div>
                          <div class="text-center">
                            <button type="button" class="btn btn-community my-4" (click)="onSubmitButtonClicked()">Submit</button>
                          </div>
                        </form>
                   </div>

             </div>
  
         </div>
          
                











      </div>
    </div>
  </section>  

 
  <section class="section section-lgs section-card-shaped pb-20">
    <div class="shape shape-style-1 ">
    </div>
    <div class="container ">
      <div class="row">
          <div class="col-lg-6 footer-img">
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right " src="./assets/img/brand/images.png"></a>
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-right" src="./assets/img/brand/image3.png"></a>
            </div>
          <div class="col-lg-6 footer-img">
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left " src="./assets/img/brand/images.png"></a>
            <a  href="https://www.w3schools.com"><img class="col-lg-6 float-lg-left" src="./assets/img/brand/image3.png"></a>
          </div>
    
      </div>
    </div>
</section>