/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Exo 2'!important; }
 .headings{
     font-family: 'Roboto' !important;
     text-align:center;
    font-weight: 700;
    font-size: 36px;
    color: #225da0;
 }
.header-text{
    font-family: 'Roboto' !important;
    text-align:justify;
    font-weight: 700;
    font-size: 36px;
    color: #225da0;
}

.para-text{
    text-align:justify;

    font-weight:300;
    font-size:14px;
}

.footer-img img{
    height:3.2rem;
    width:auto ;
    // float:right;
}


.header-texts{
    font-family: 'Roboto' !important;
    text-align:center;
    font-weight: 500;
    font-size: 30px;
    color: #225da0;
    padding-top: 0px;
}

.header-texts-p{
    font-family: 'Roboto' !important;
    text-align:center;
    // font-weight: 500;
    font-size: 14px;
    color: #225da0;
    padding-top: 0px;
}