
.hi-text{
    font-size:14px;
    text-align:justify;
    
}
.btn-color{
    color:#1b2b91;
}

.header-text{
    text-align:justify;
    font-weight: 600;
    font-size: 36px;
    color:#1b2b91;
}


.home_headings{
    font-family: 'Roboto' !important;
    text-align:center;
   font-weight: 700;
   font-size: 36px;
   color: #225da0;
   margin-top: -8px;
}

.home_head{
    font-family: 'Roboto' !important;
    text-align:left;
   font-weight: 700;
   font-size: 36px;
   color: #225da0;
   margin-top:50px;
}

.btn-wrap{
    margin-left: 110px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.backimg{
    background-image: url('/assets/img/brand/backgroun-01.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.overlay{
    background-color: #1b2b91;
}