

<main>
  <div class="position-relative">
    
    <section class="section section-lg section-hero section-shaped overlay pb-1 " style="margin-bottom: -67px;
    margin-top: -58px;">
      
        <div class="shape shape-style-1 backimg ">
         </div>
      
        <div class="container pb-1">
          <div class="row justify-content-between-align-items-left">

              <div class="col-md-6 order-lg-2 ml-lg-auto">
                  <div class="position-relative pl-md-5">
                    <img src="./assets/img/brand/img99-01.png" class="img-center img-fluid">
                  </div>
                </div>



          
               <div class="col-lg-6 mb-5 mb-lg-0 d-lg-none">
              
              <p class="lead mt-6 home_headings">Change the Way You Work with Share Market.</p>
              
              
             
              <div class="btn-wrap mt-5">
                
                  <span class="btn btn-view mt-4" [routerLink]="['/Course']">VIEW COURSES</span>
                
              </div>
               </div>
          
          
              <div class="col-lg-6 mb-5 mb-lg-0 d-lg-inline d-none">
                
                <p class="lead mt-6 home_head">Change the Way You Work with Share Market.</p>
                
                
               
                <div class="btn-wrap mt-5">
                  
                    <span class="btn btn-view mt-4" [routerLink]="['/Course']">VIEW COURSES</span>
                  
                </div>
              </div>
          


          </div>
        </div>
     
     
    </section>
  </div>
  <app-sections></app-sections>
</main>
