
.hi-text{
    font-size:14px;
    text-align:justify;
    
}
.btn-color{
    color:#1b2b91;
}

.header-text{
    text-align:justify;
    font-weight: 600;
    font-size: 36px;
    color:#1b2b91;
}

.bck-img{
    background-image: url('/assets/img/back/download.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.over-lay-blue {
    background: rgba(211, 239, 213, 0.73);
}