

<main>
  <div class="position-relative">
    
    <section class="section section-lg section-hero section-shaped over-lay-blue pb-1 ">
      
        <div class="shape shape-style-1 bck-img  ">
         </div>
      
        <div class="container pb-1">
          <div class="row justify-content-between-align-items-left">

              <div class="col-md-6 order-lg-2 ml-lg-auto">
                  <div class="position-relative pl-md-5">
                    <img src="./assets/img/ill/home-01.png" class="img-center img-fluid">
                  </div>
                </div>




            <div class="col-lg-6 mb-5 mb-lg-0">
              
              <p class="lead mt-6 header-text">We’re Changing the Way You Work with Share Market and Investments</p>
              
              
             
              <div class="btn-wrapper mt-5">
                <a href="#">
                  <span class="btn btn-view mt-4">ENROLL NOW>></span>
                </a>
              </div>
            </div>


           


          </div>
        </div>
     
     
    </section>
  </div>
  <app-sections></app-sections>
</main>
