<section class="section section-lg section-footer section-card-shaped pb-12">
  <!-- Background circles -->
  <div class="shape shape-style-1 bg-gradient">
    
  </div>

  <div class="container pb-10">
    <div class="row ftr-head">

      <div class="col-lg-4 ">
          <ul class="navbar-brand">
            
              <img src="./assets/img/brand/footer-logo.png">
            

          </ul>
      
       
           <p class="ftr-text">Lurecap welcomes you to our share market trading training classes. We have best trainers who are highly qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving all your practical queries.</p>
    
      </div>



   <div class="col-lg-2">
          <ul class="font text-white"> Quick links</ul>
          <ul> <a class=" ftr-texts" [routerLink]="['/About-us']">About us</a></ul>
          <ul> <a class="  ftr-texts" [routerLink]="['/Course']">Course</a></ul>
          <ul> <a class=" ftr-texts" [routerLink]="['/Community']">Community</a></ul>
           <ul> <a class=" ftr-texts" [routerLink]="['/Queries']">Contact us</a></ul>
    </div>
   <div class="col-lg-3">
      <ul class="font text-white"> Support</ul>
      <ul ><a class=" ftr-texts" [routerLink]="['/terms-conditions']">Terms & Conditions</a></ul>
       <ul><a  class=" ftr-texts" [routerLink]="['/privacy-policy']">Privacy Policy</a></ul>
       <!-- <ul> <a class="text-white" href="#">FAQ</a></ul> -->
    </div>
   <div class="col-lg-3 ">
        <ul class="font text-white">Connect with us</ul>
        <ul><a class="ftr-texts " href="mailto:academy@lurecap.com">academy@lurecap.com</a></ul>
        <!-- <ul><a href="#">Sales@biztia.com</a></ul> -->
       <ul><a class=" ftr-texts" href="#">+91-9487427429</a></ul>
       
       <!-- <ul> -->
       <!-- <i class="fa fa-facebook" aria-hidden="true"></i>
       <i class="fa fa-twitter-square" aria-hidden="true"></i>
       <i class="fa fa-whatsapp" aria-hidden="true"></i>
       <i class="fa fa-instagram" aria-hidden="true"></i> -->
      <!-- </ul>  -->
       <!-- <ul>
          <ul><a href="#" ><i class="fab fa-facebook-f"></i></a></ul>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fas fa-globe"></i></a></li>
          <li><a href="#"><i class="fab fa-behance"></i></a></li>
       </ul> -->
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
        <i class="fa fa-facebook" ></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <i class="fa fa-whatsappwdsf" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div> -->
  <hr class="hr-color">
  
       <div class="container">
                <div class="row">
                      <div class="col-lg-6">
                                    <p class=" ftr-text">Copyright ©2020 All rights reserved</p>
                       </div>
                      <!-- <div class="col-lg-6 " >
                                 <span class="fa-stack fa-lg">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x"></i>
                                  </span>
                      </div> -->
                </div>
       </div>
  </div>
  
</section>
