<section class="section section-lg section-footer section-card-shaped pb-12  ">

  <div class="shape shape-style-1 bg-gradient">

  </div>

  <div class="container   pb-10 d-lg-inline d-none ">
    <div class="row ftr-head " style="margin-right: 45px " style="margin-left:106px ">

      <div class="col-lg-4 ">
        <ul class="navbar-brand">

          <img src="./assets/img/brand/footer-logo.png">


        </ul>


        <p class="ftr-text">Lurecap Academy welcomes you to our share market trading training classes. We have best
          trainers who are highly qualified and experienced and have relevant industry exposure in their fields of
          expertise, capable of solving all your practical queries.</p>

      </div>



      <div class="col-lg-2">
        <ul class="font text-white"> Quick links</ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/About-us']">About us</a></ul>
        <ul> <a class="  ftr-texts fthov" [routerLink]="['/Course']">Course</a></ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/Community']">Community</a></ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/Queries']">Contact us</a></ul>
      </div>
      <div class="col-lg-3">
        <ul class="font text-white">Policies</ul>
        <ul><a class=" ftr-texts fthov" [routerLink]="['/terms-conditions']">Terms & Conditions</a></ul>
        <ul><a class=" ftr-texts fthov" [routerLink]="['/privacy-policy']">Privacy Policy</a></ul>

      </div>
      <div class="col-lg-3 " style="margin-left: -65px">
        <ul class="font text-white">Connect with us</ul>
        <ul><a class="ftr-texts fthov" href="mailto:academy@lurecap.com">academy@lurecap.com</a></ul>

        <ul><a class=" ftr-texts" href="#">+91-9487427429</a></ul>

        <ul class="fa-colr">


          <a href="https://wa.me/919487427429"> <i class="fa fa-whatsapp fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://www.facebook.com/lurecap/"> <i class="fa fa-facebook space fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://twitter.com/LurecapAcademy"> <i class="fa fa-twitter-square space fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://www.instagram.com/lurecap_academy/"> <i class="fa fa-instagram fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i> </a>
        </ul>

      </div>
    </div>

    <hr class="hr-color">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class=" ftr-text" style="margin-left: -18px;">Copyright ©2020 All rights reserved|Powered by lurecap Market
            Science Pvt Ltd</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container   pb-10 d-lg-none">
    <div class="row ftr-head ">

      <div class="col-lg-4 ">
        <ul class="navbar-brand" style="margin-left: -40px">

          <img src="./assets/img/brand/footer-logo.png">


        </ul>


        <p class="ftr-text">Lurecap Academy welcomes you to our share market trading training classes. We have best
          trainers who are highly qualified and experienced and have relevant industry exposure in their fields of
          expertise, capable of solving all your practical queries.</p>

      </div>



      <div class="col-lg-2" style="margin-left: -40px">
        <ul class="font text-white"> Quick links</ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/About-us']">About us</a></ul>
        <ul> <a class="  ftr-texts fthov" [routerLink]="['/Course']">Course</a></ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/Community']">Community</a></ul>
        <ul> <a class=" ftr-texts fthov" [routerLink]="['/Queries']">Contact us</a></ul>
      </div>
      <div class="col-lg-3" style="margin-left: -40px">
        <ul class="font text-white">Policies</ul>
        <ul><a class=" ftr-texts fthov" [routerLink]="['/terms-conditions']">Terms & Conditions</a></ul>
        <ul><a class=" ftr-texts fthov" [routerLink]="['/privacy-policy']">Privacy Policy</a></ul>
        <!-- <ul> <a class="text-white" href="#">FAQ</a></ul> -->
      </div>
      <div class="col-lg-3 " style="margin-left: -40px">
        <ul class="font text-white">Connect with us</ul>
        <ul><a class="ftr-texts fthov" href="mailto:academy@lurecap.com">academy@lurecap.com</a></ul>
        <!-- <ul><a href="#">Sales@biztia.com</a></ul> -->
        <ul><a class=" ftr-texts" href="#">+91-9487427429</a></ul>

        <ul class="fa-colr">
          <a href="https://wa.me/919487427429"> <i class="fa fa-whatsapp fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://www.facebook.com/lurecap/"> <i class="fa fa-facebook space fthov " aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://twitter.com/LurecapAcademy"> <i class="fa fa-twitter-square space fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i></a>
          <a href="https://www.instagram.com/lurecap_academy/"> <i class="fa fa-instagram fthov" aria-hidden="true"
              style="margin-right: 10px">

            </i> </a>
        </ul>

      </div>
    </div>

    <hr class="hr-color">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 " style="margin-left: -10px">
          <p class=" ftr-text">Copyright ©2020 All rights reserved|Powered by lurecap Market Science Pvt Ltd</p>
        </div>

      </div>
    </div>
  </div>


</section>