.para-text{
    text-align:justify;

    font-weight: 300;
    font-size:14px
}


.header-text-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}
