.para-text{
    text-align:justify;

    font-weight: 500;
    font-size:15px
}


.header-text-list{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 500;
    font-size: 36px;
    color: #225da0;
}

.header-textss{
    font-family: 'Roboto' !important;
    text-align:left;
    font-weight: 600;
    font-size: 23px;
    color: #225da0;
}

.size-fix
{
    height: 280px !important;
}
.para-texts{
    text-align:justify;
    color: #141518;
    font-weight: 500;
    font-size:15px;
}
.para-tts{
    
    color: #225da0;
    font-weight: 500;
    font-size:18px;
}


.backimg{
    background-image: url('/assets/img/back/course-back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
}
.overlay{
    background-color: #33cacf80;
}

.card {
    .card-body {
      min-height: 375px;
      .course-pill{
          position: absolute;
          bottom: 60px;
      }
      .container{
          position: absolute;
          bottom: 0;
          .course-amount{
              position: absolute;
              bottom: 15px;
              left:0;
          }
          .course-buynow{
              position: absolute;
              bottom: 0;
              right: 25px;
              text-align: right;
          }
      }
    }
  }

  
